<h2>Seller Profile</h2>
<?php 
echo $this->Form->create("PaymentProfile");
echo $this->Form->input("paypal_email_id");
?>
<div class="spacer"></div>
<?php
echo $this->Form->input("first_name");
?>
<div class="spacer"></div>
<?php
echo $this->Form->input("last_name");
?>
<div class="spacer"></div>
<?php
echo $this->Form->input("address",array("type"=>"textarea"));
echo $this->Form->submit("Save Changes");
?>
