<center>
	<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0"
		height="100%"
		style="padding-right: 0; padding-left: 0; padding-top: 0; width: 100%; margin-bottom: 0; padding: 0; min-height: 100%; padding-bottom: 0; margin-right: 0; margin-left: 0; margin: 0; margin-top: 0"
		width="100%">
		<tbody>
			<tr>
				<td align="center" style="border-collapse: collapse" valign="top">
					<table border="0" cellpadding="0" cellspacing="0"
						style="width: 600px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0"
						width="600">
						<tbody>
							<tr>
								<td align="left" height="20"
									style="width: 600px; min-height: 20px; overflow: hidden; border-collapse: collapse"
									valign="top" width="600"><span
									style="line-height: 20px; min-height: 20px; overflow: hidden; color: #ffffff; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
								</span></td>
							</tr>
							<tr>
								<td align="center" bgcolor="#262626"
									style="width: 600px; background-color: #262626; overflow: hidden; border-collapse: collapse"
									valign="top" width="600">
									<table border="0" cellpadding="0" cellspacing="0"
										style="width: 540px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0"
										width="540">
										<tbody>
											<tr>
												<td align="left" height="26"
													style="min-height: 26px; overflow: hidden; border-collapse: collapse"
													valign="top"><span
													style="line-height: 26px; min-height: 26px; overflow: hidden; color: #262626; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
												</span></td>
											</tr>
											<tr>
												<td align="center" style="border-collapse: collapse"><a
													href="http://www.everdrobe.com"
													target="_blank"
													title="http://www.everdrobe.com"><img
														alt="" border="0"
														height="58"
														src="http://www.everdrobe.com/images/logo.png"
														style="border: 0; min-height: auto; line-height: 100%; outline: none; text-decoration: none;width: 220px"
														title="" width="182" />
												</a></td>
											</tr>
											<tr>
												<td align="left" height="16"
													style="min-height: 16px; overflow: hidden; border-collapse: collapse"
													valign="top"><span
													style="line-height: 16px; min-height: 16px; overflow: hidden; color: #262626; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
												</span></td>
											</tr>
											<tr>
												<td align="center" style="border-collapse: collapse"><img
													alt="---" border="0" height="2"
													style="display: block; border: 0; min-height: auto; line-height: 100%; outline: none; text-decoration: none"
													width="540" /></td>
											</tr>
											<tr>
												<td align="left" height="27"
													style="min-height: 27px; overflow: hidden; border-collapse: collapse"
													valign="top"><span
													style="line-height: 27px; min-height: 27px; overflow: hidden; color: #262626; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
												</span></td>
											</tr>
											<tr>
												<td align="center" style="border-collapse: collapse">
													<table border="0" cellpadding="0" cellspacing="0"
														style="width: 540px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0"
														width="540">
														<tbody>
															<tr>
																<td colspan="3" style="border-collapse: collapse">
																	<table border="0" cellpadding="0" cellspacing="0"
																		style="margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
																		<tbody>
																			<tr>
																				<td
																					style="padding-top: 5px; border-collapse: collapse"
																					valign="top">
																					<table border="0" cellpadding="0" cellspacing="0"
																						style="margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
																						<tbody>
																							<tr>
																								<td align="left" border="2"
																									style="border: 2px solid #505050; border-collapse: collapse">
																									<a
																									href="##userProfileLink"
																									target="_blank" title="View Profile"><img
																									src="##userProfileImage"
																										alt="View Profile" height="146"
																										style="display: block; width: 146px; min-height: 146px; border: 0; line-height: 100%; outline: none; text-decoration: none"
																										width="146" /></a>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																				<td style="width: 20px; border-collapse: collapse"
																					width="20">&nbsp;</td>
																				<td align="left"
																					style="width: 380px; border-collapse: collapse"
																					valign="top" width="370">
																					<div
																						style="line-height: 1.2; color: #ffffff; font-size: 22px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
																						##username invited you to use Everdrobe!</div> <span
																					style="line-height: 12px; min-height: 12px; overflow: hidden; color: #262626; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
																				</span>
																					<div
																						style="line-height: 1.2; color: #888888; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
																						Everdrobe is the most fun way to give and get opinions
																						while connecting with people&hellip; instantly.
																						Get 50-100 responses in minutes from people all
																						over the world!</div> <span
																					style="line-height: 12px; min-height: 12px; overflow: hidden; color: #262626; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
																				</span>
																					<div
																						style="line-height: 1.2; color: #888888; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
																						Download the free app now from iTunes and Google Playstore.</div> 
																				<span style="line-height: 18px; min-height: 18px; overflow: hidden; color: #262626; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">
																				</span>
																					<div>
																						<a href="https://itunes.apple.com/in/app/id576116687" target="_blank" title="Available on the App Store">
																						<img src="http://www.everdrobe.com/images/apple_nw.png" />
																						</a>
																						
																						<a href="https://itunes.apple.com/in/app/id576116687" target="_blank" title="Available on the App Store">
																						<img src="http://www.everdrobe.com/images/android_nw.png" />
																						</a>
																					</div>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td align="left" height="20"
													style="min-height: 20px; overflow: hidden; border-collapse: collapse"
													valign="top"><span
													style="line-height: 20px; min-height: 20px; overflow: hidden; color: #262626; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
												</span></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" height="20"
									style="width: 600px; min-height: 20px; overflow: hidden; border-collapse: collapse"
									valign="top" width="600"><span
									style="line-height: 20px; min-height: 20px; overflow: hidden; color: #ffffff; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
								</span></td>
							</tr>
							<tr>
								<td align="left" style="border-collapse: collapse" valign="top">
									<table border="0" cellpadding="0" cellspacing="0"
										style="width: 600px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0"
										width="600">
										<tbody>
											<tr>
												<td align="left"
													style="overflow: hidden; border-collapse: collapse"
													valign="top"><span
													style="color: #555555; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0"><a
														style="color: #749ba5; text-decoration: none; outline: none; font-size: 11px"
														target="_blank" href="http://www.everdrobe.com" title="http://www.everdrobe.com">www.everdrobe.com</a> </span></td>
												<td align="right"
													style="width: 300px; overflow: hidden; border-collapse: collapse"
													valign="top" width="300"><span
													style="color: #6a6a6a; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&copy;
														2013 Everdrobe, Inc. </span></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" height="40"
									style="width: 600px; min-height: 40px; overflow: hidden; border-collapse: collapse"
									valign="top" width="600"><span
									style="line-height: 40px; min-height: 40px; overflow: hidden; color: #ffffff; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
								</span></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td align="left" height="30"
					style="min-height: 30px; overflow: hidden; border-collapse: collapse"
					valign="top"><span
					style="line-height: 30px; min-height: 30px; overflow: hidden; color: #ffffff; font-size: 11px; font-family: verdana, sans-serif; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0">&nbsp;
				</span></td>
			</tr>
		</tbody>
	</table>
</center>
