<div class="top" style="width: 1024px">
   	  <a href="#" class="logo-in"></a>
        <div class="navi">
        <?php echo $this->Html->link("Dashboard",array('controller'=>"admins","action"=>"index","admin"=>true),array("class"=>"navi-in")); ?>
        <?php echo $this->Html->link("Change Password",array('controller'=>"admins","action"=>"change_password","admin"=>true),array("class"=>"navi-in")); ?>
        <?php echo $this->Html->link("Logout",array('controller'=>"admins","action"=>"logout","admin"=>true),array("class"=>"navi-in")); ?>
        <div class="line"></div>
        </div>  
</div>
    