<?php 
$profileDetail=$this->Session->read('Auth.User');
?>
<div id="user_profile" class="right-panel">
	
	

	<div>
	<?php 
	$content_pages=Cache::read('content_pages');
echo $content_pages['google_adsense']['page_content']; 
?>
	</div>
</div>
