<div class="left-panel 3">
<a href="<?php echo Router::url('/home',true);?>" class="logo-in"></a>
<div class="spacer"></div>
    	<div class="left-navi">
    		<?php echo $this->Html->link('<div class="icon"><img src="images/icon2.png" border="0" /></div>Home',Router::url('/home',true),array("escape"=>false,"class"=>"left-navi-in")); ?>
    		<?php echo $this->Html->link('<div class="icon"><img src="images/icon10.png" border="0" /></div>Manage Drobes',array('controller'=>"sell_drobes","action"=>"drobes"),array("escape"=>false,"class"=>"left-navi-in")); ?>
    		<?php //echo $this->Html->link('<div class="icon"><img src="images/icon3.png" border="0" /></div>Manage for Sale',array('controller'=>"sell_drobes","action"=>"sell_drobes"),array("escape"=>false,"class"=>"left-navi-in")); ?>
    		<?php echo $this->Html->link('<div class="icon"><img src="images/icon11.png" border="0" /></div>My Sales',array('controller'=>"sell_drobes","action"=>"sold_drobes"),array("escape"=>false,"class"=>"left-navi-in")); ?>
    		<?php echo $this->Html->link('<div class="icon"><img src="images/icon12.png" border="0" /></div>My Balances',array('controller'=>"sell_drobes","action"=>"index"),array("escape"=>false,"class"=>"left-navi-in")); ?>
    		<?php echo $this->Html->link('<div class="icon"><img src="images/icon6.png" border="0" /></div>Seller Profile',array('controller'=>"sell_drobes","action"=>"profile"),array("escape"=>false,"class"=>"left-navi-in")); ?>
    		
        </div>
        <div class="spacer"></div>
        <a href="https://itunes.apple.com/in/app/id576116687" target="_blank"><span class="apple" style="margin-left:25px"></span></a>
        <p class="line"></p>
        <p class="android" style="margin-left:25px"></p>
    </div>