<div class="top">
<div id="fix">
   	  <a href="#" class="logo-in"></a>
        <div class="navi">
        <?php echo $this->Html->link("Home",array('controller'=>"pages","action"=>"display","home"),array("class"=>"navi-in")); ?>
        <?php echo $this->Html->link("Help","http://help.everdrobe.com/",array("class"=>"navi-in")); ?>
        <?php echo $this->Html->link("About Us",array("controller"=>"pages","action"=>"display","about-us","admin"=>false),array("class"=>"navi-in")); ?>
        <?php echo $this->Html->link("Blog","http://www.everdrobe.com/blog/",array("class"=>"navi-in")); ?>
        <?php echo $this->Html->link("Shop","http://shop.everdrobe.com",array("class"=>"navi-in")); ?>
        <div class="line"></div>
        </div>
        </div>  
    </div>
    
