<p style="display: none">
If you have facebook account, you can use your facebook profile info in Everdrobe account on facebook login button for login.
</p>
<div id="user_login_block">
<a id="loginBlock"></a>
<div class="login_info">
<div class="container">
<h2 class="text-center">Login</h2>
<ul class="">
<li>If you have facebook account, you can use your facebook profile info in Everdrobe account on facebook login button for login.</li>
<li>If you have Gmail account, you can use your Gmail profile info in Everdrobe account on Gmail login button for login.</li>
<li>If you are already registered with Everdrobe and have email id and password for login, Enter your email id and password on right side login form.</li>
<li>If you can to create your account click on Sugin-up now button</li>
</ul>

	
</div>
</div>
<div class="clear"></div>
</div>

