<?php 
$profileDetail=$this->Session->read('Auth.User');
?>
<div id="user_profile">
	<h2>Hello</h2>
	<div class="logout"><?php echo $this->Html->link('Logout',array('controller'=>'users','action'=>'logout'));?></div>
	<div class="user_name"><?php echo $profileDetail['first_name']." ".$profileDetail['last_name']; ?></div>
	<div class="photo">
	
	</div>
	<div class="detail">
	<?php 
	echo $this->Html->link("Change Bio",array("controller"=>"users","action"=>"edit_profile"));
	?>
	</div>
</div>