/* 6.2 Info Boxes */
body {
	.woo-sc-box  {
		&:before  {
			@include iconbefore;
			content: none;
		}
		&.alert {
			border-color:#f0baa2;
			background-color:#ffd9c8;
			&:before  {
				content: "\f071";
			}
		}
		&.download {
			border-color:#d4ebaf;
			background-color:#edfcd5;
			&:before  {
				content: "\f01a";
			}
		}
		&.tick {
			border-color:#d4ebaf;
			background-color:#edfcd5;
			&:before  {
				content: "\f058";
			}
		}
		&.info {
			border-color:#ccc;
			background-color:#eee;
			&:before  {
				content: "\f05a";
			}
		}
		&.note {
			border-color:#efe3ae;
			background-color:#fef6d2;
			&:before  {
				content: "\f016";
			}
		}
		&.normal {
			border-color:#ccc;
			background-color:#eee;
			padding:9px 15px;
		}
	}
	p.woo-sc-box, div.woo-sc-box { margin:1em 0 1.5em 0; padding: 15px 20px; border-width: 1px 0 1px 0; border-style: solid; color: #555; text-shadow: none; background-image: none!important; border: none!important }
	.woo-sc-box.medium { padding: 18px 20px; font-size: 1.1em; }
	.woo-sc-box.large { padding: 25px 27px; font-size: 1.2em; }
	.woo-sc-box.rounded { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
}

/* 6.7 Featured Posts Shortcode */
.woo-sc-featured-posts ul { float: left; clear: both; list-style: none; padding-left: 0px; }
.woo-sc-featured-posts ul li { float: left; clear: both; list-style: none; margin-bottom: 10px; }
.woo-sc-featured-posts ul li .thumbnail { float: left; margin-right: 10px; }
.woo-sc-featured-posts ul li .related-title { float: left; }