@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background: #ededed;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #343434;
}

@font-face {
	font-family: 'Helvetica45LightRegular';
	src: url('../font/hll_____-webfont.eot');
	src: url('../font/hll_____-webfont.eot?#iefix')
		format('embedded-opentype'), url('../font/hll_____-webfont.woff')
		format('woff'), url('../font/hll_____-webfont.ttf') format('truetype'),
		url('../font/hll_____-webfont.svg#Helvetica45LightRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

#banner {
	width: 100%;
	height: 390px;
	background: url(../images/banner.jpg) repeat-x top;
}

#fix {
	width: 900px;
	height: auto;
	margin: 0 auto;
}



#gallery{
	float: left;
	width: 400px;
	height: 338px;
	margin : 0px;
	padding-left: 0px;
}

#gallery li{
	margin-top: 12px;
}


.logo {
	float: right;
	width: 500px;
	height: 81px;
	margin-top: 25px;
	background: url(../images/logo.png) no-repeat center;
}

.company {
	float: left;
	width: 400px;
	height: auto;
	margin-top: 25px;
	margin-left: 85px;
}

.apple {
	float: left;
	width: 150px;
	height: 52px;
	margin-right: 25px;
	background: url(../images/apple.png) no-repeat;
}

.android {
	float: left;
	width: 150px;
	height: 69px;
	background: url(../images/android.png) no-repeat;
}

.link-box {
	float: left;
	width: 500px;
	height: 145px;
	background-color: #ededed;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 8px #909090;
	-webkit-box-shadow: 0px 0px 8px #909090;
	box-shadow: 0px 0px 8px #909090;
	margin-top: 20px;
}

.link-box ul {
	width: 400px;
	list-style: circle;
}

.link-box ul li {
	line-height: 1.7;
	font-size: 14px;
}

.timeline {
	float: left;
	width: 375px;
	height: auto;
	margin-right: 44px;
	margin-top: -65px;
	margin-bottom: 80px;
}

h1 {
	font-family: 'Helvetica45LightRegular';
	font-size: 30px;
	color: #3c4c53;
	font-weight: normal;
	margin-bottom: 7px;
}

.line {
	background: url(../images/devider.jpg) bottom repeat-x;
	float: left;
	width: 100%;
	height: 2px;
}

.testi {
	float: left;
	width: 380px;
	height: auto;
	margin: 10px 0px 0px 0px;
}

.photo {
	float: left;
	width: 70px;
	height: 68px;
	border: #fff solid 3px;
	background-color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.testi .line
{
	margin-bottom: 10px;
}

.testi-txt {
	float: left;
	width: 270px;
	height: 55px;
	overflow: hidden;
	padding: 10px;
	margin-left: 10px;
	background-color: #ededed;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 4px 3px #c3c3c3;
	-webkit-box-shadow: inset 0px 0px 4px 3px #c3c3c3;
	box-shadow: inset 0px 0px 4px 3px #c3c3c3;
	font-style: italic;	
}

.welcome {
	float: right;
	width: 480px;
	height: auto;
	position: relative;
	top: -20px;
}

.welcome p {
	padding: 10px 10px 0 10px;
}

.enter {
	float: left;
	width: 165px;
	height: 40px;
	margin-left: 130px;
	background: url(../images/enter.png) no-repeat;
}

.enter:hover {
	background-position: 0 -46px;
}

#footer {
	width: 100%;
	float: left;
	height: 45px;
	background: #3c4c53;
	margin-top: 20px;
	position: fixed !important;
	bottom: 0px;
}

.left-link {
	float: left;
	width: auto;
	height: auto;
	margin-top: 17px
}

.flink {
	float: left;
	width: auto;
	height: auto;
	margin-right: 8px;
	margin-left: 8px;
}

.copyright {
	float: right;
	margin-top: 17px
}

.grey {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}

.grey:hover {
	text-decoration: underline;
}

.grey1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}
.block
{
	padding:20px;
	width: 460px;
}
.block p
{
	font-size: 14px;
}