/* CSS Document */



#fade {

	display: none;

	background: #000; 

	position: fixed; left: 0; top: 0; 

	z-index: 10;

	width: 100%; height: 100%;

	opacity: .80;

	z-index: 9999;

}

.popup_block{

	display: none;

	background: #fff;

	padding: 10px; 	

	float: left;
	height:500px;

	position: fixed;

	top: 50%; left: 50%;

	z-index: 99999;

	-webkit-box-shadow: 0px 0px 20px #000;

	-moz-box-shadow: 0px 0px 20px #000;

	box-shadow: 0px 0px 20px #000;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

	border-radius: 10px;

}

img.btn_close {

	float: right; 

	margin: -55px -55px 0 0;

}

.popup p {

	padding: 5px 10px;

	margin: 5px 0;

}

/*--Making IE6 Understand Fixed Positioning--*/

*html #fade {

	position: absolute;

}

*html .popup_block {

	position: absolute;

}




