.sell-drobe-container
{
	width: 663px !important;
	padding-bottom: 50px !important;
}
.footer_space
{
	height: 200px;
}
.drobe_sale_popup
{
	display: block;
	position: static;
	border: none;
	box-shadow:none;
	padding: none;
	float: none;
	width: auto;
}

.drobe_sale_popup input[type="text"], .drobe_sale_popup select, .drobe_sale_popup textarea
{
	width: 310px;
}
.drobe_sale_popup .drobe_description {
    margin-right: 10px;
    width: 295px;
}

/*
Sell drobe dashboard
*/
.sell-drobe-container .warning
{
	padding: 10px;
	margin:10px 0px;
	border: 1px solid #FFD696;
	font-size: larger;
	border-radius:10px;
	color: #6D531B;
}
.sell-drobe-container .warning a
{
	color: #000000;
}
.dashboard_box
{
	width: 97%;
	float: left;
	background-color: #FAFAFA;
	padding: 5px 10px 10px 10px  !important;
	border-radius:5px  !important;
	box-shadow: 0px 0px 4px #AAAAAA;
	margin-bottom: 15px !important;
	opacity:1;
	cursor: pointer;
}
.dashboard_box:hover
{
	opacity:1;
	background-color: #F5FFE0;
	box-shadow:0px 0px 4px #7C9643;
}
.dashboard_box *
{
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.dashboard_box .title
{
	font-size: 18px;
	text-shadow: 1px 1px 2px #FFFFFF;
	line-height: 30px;
	color: #666666;
}
.dashboard_box:hover .title
{
	text-shadow: 1px 1px 2px #E4FFAA;
	color: #2E3818;
}
.dashboard_box .drobes
{
	box-shadow: 0px 0px 2px #666666;
	background: #FFFFFF;
	border-radius:5px;
	max-height: 200px;
	min-height: 50px;
	overflow: hidden;
	padding: 5px 8px 5px 15px;
	margin:0px 10px 0px 5px;
}
.dashboard_box .drobes a.drobe_thumb_small
{
	display:block;
	float:left;
	width: 51px !important;
	height: 51px !important;
	margin: 5px 8px 0 0 !important;
	box-shadow: 0px 0px 2px #AAAAAA;
	cursor: default;
}
.dashboard_box .drobes a.drobe_thumb_small img
{
	border: none;
}
.dashboard_box .amount
{
	color:#AAAAAA;
	clear: both;
	font-size: 15px;
	line-height: 20px;
	margin-top: 10px;
	text-align: center;
	text-shadow: 0px 0px 1px #AAAAAA;
}
.dashboard_box .amount
{
	color:#666666;
	text-shadow: none;
}
.dashboard_box .doller
{
	color:#666666;
	clear: both;
	text-align: center;
	font-size: 20px;
	text-shadow: 0px 0px 2px #AAAAAA;
}
.dashboard_box:hover .doller
{
	color:#333333;
	text-shadow:none;
}
.dashboard_box .amount em
{
	color: #333333;
	font-weight: bold;
}
/*
Sell Drobe additional Image Style
*/

.sell_drobe_images
{
	padding: 5px;
	border: 1px solid #666666;
	border-left:none;
	border-right:none;
	text-align: center;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
.sell_drobe_images .image_box
{
	display:inline-block;
	width:150px;
	height:150px;
	overflow: hidden;
	position:relative;
	border: 2px dotted #AAAAAA;
	margin: 5px 25px;
}
.sell_drobe_images .image_box .image_preview
{
	display: none;
	position: absolute;
}
.sell_drobe_images .image_box .image_preview .remove
{
	display:none;
	position: absolute;
	top:0px;
	left:0px;
	width:20px;
	line-height:20px;
	background-color: rgba(0,0,0,0.7);
	padding: 3px;
	text-align:center;
	color: #FFF;
	cursor: pointer;
}
.sell_drobe_images .image_box .image_preview:hover .remove
{
	display: block;
}
.sell_drobe_images .image_box .qq-uploader
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #EFEFEF;
}
 .sell_drobe_images .image_box .qq-upload-button
 {
  /* padding: 40% 5px; */
  cursor:pointer;
 }
.sell_drobe_images .image_box .qq-upload-button:hover
{
	background: #FFFFC4;
}
.sell-drobe-container a
{
	color: #4A5633;
	text-decoration: none;
}
.sell-drobe-container .message
{
	padding: 5px;
	background: #E1FCB8;
	margin: 5px 0px;
	border: solid 1px #617A32;
	border-left: none;
	border-right: none;
}
.sell-drobe-container .page_8_middel
{
	width: 660px !important;
}
.sell-drobe-container .profile_detail
{
	width: 375px !important;
}
.sell-drobe-container .bio_data_tax
{
	width: 425px !important;
}
.sell-drobe-container .page-8detail
{
	width: 660px !important;
}
.sell-drobe-container .page_user_right
{
	width:160px;
}

.sell-drobe-container .page_8_white_box, 
.sell-drobe-container .page_8_gry_box {
	width:145px;
}
.spacer_more
{
height:15px;
clear: both;
}
.sell-drobe-container .submenu a
{
	display: block;
	margin-bottom: 5px;
}
/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 6px;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
	background: #f9f9f9;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
table td .comment
{
	max-width: 200px;
}
table td a.link
{
	max-width: 375px;
	display: block;
	word-wrap: break-word;
}


/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}



/**  Actions  **/
.actions ul {
	margin: 0;
	padding: 0;
}
.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}

/* Buttons and button links */
input[type=submit],
.actions ul li a,
.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}
.actions ul li a:hover,
.actions a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}
input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
	background: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
	background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
	background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
	background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
	background-image: -o-linear-gradient(top, #dfdfdf, #eee);
	background-image: linear-gradient(top, #dfdfdf, #eee);
	text-shadow: #eee 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}


.ui-tooltip-nav .ui-tooltip-content{
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	background-color: #EEE;
}
.ui-tooltip-nav .submenu
{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 120px;
}
.ui-tooltip-nav .submenu li
{
	float: none;
	line-height: 20px;
}
.ui-tooltip-nav .submenu li a
{
	display: block;
	margin: 2px;
	padding: 2px;
	padding-left: 7px;
}
.ui-tooltip-nav td
{
	margin: 0;
	padding: 2;
}
.pagignator
{
	margin: 10px 0px;
}
.pagignator a
{
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}

.pagignator span.current
{
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#A2CB60), to(#BBDAA1));
	background-image: -webkit-linear-gradient(top, #A2CB60, #BBDAA1);
	background-image: -moz-linear-gradient(top, #A2CB60, #BBDAA1);
	background-image: -ms-linear-gradient(top, #A2CB60, #BBDAA1);
	background-image: -o-linear-gradient(top, #A2CB60, #BBDAA1);
	background-image: linear-gradient(top, #A2CB60, #BBDAA1);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}
.pagignator span.disabled
{
	font-weight:normal;
	padding: 4px 8px;
	background: #EDEDED;
	color:#ADADAD;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}
/*
Form Specific CSS
*/
form div {
	clear: both;
	margin-bottom: 0;
	padding: 0;
	vertical-align: text-top;
}
form input[type=text],form input[type=password] {
	color: #444;
	background: none !important;
	width:98% !important;
	border: 1px solid #ADADAD !important;
	color: #000000 !important;
}
form input[disabled=disabled]
{
	opacity:0.5;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 100%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
form .radio label
{
	float: left;
	padding: 0;
	margin: 0px 10px 0px 5px;
}
form .radio > div
{
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #5BA150;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.search_box
{
	margin:10px 0px;
	padding: 5px 10px 3px 10px;
	background:#F7F4F4;
	border-bottom: dashed 1px #ADADAD;
	border-top: dashed 1px #ADADAD;
}
.search_box input[type=text]
{
	background: #FFFFFF !important;
}
.dashboard
{
	
}
.dashboard .box
{
	padding:2px;
	width:320px;
}
.dashboard .box h3
{
	margin: 0;
	padding: 0;
	padding-bottom:5px;
	line-height: 20px;
	border-bottom: 1px inset #AAAAAA; 
}
.dashboard .left,.dashboard .right
{
	margin: 0px;
}

.featured_form
{
	display:none;
	width: 280px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	border: 2px solid #FFFFFF;
	border-radius:5px;
	padding: 2px 10px 2px 10px;
	text-align: left;
}
.featured_form .name
{
	font-size: 12px;
	color: #FFFFFF;
}
.featured_form h2
{
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}
.featured_form input[type="text"]
{
	width: 275px;
	font-size: 12px;
}
.big_box .ui-tooltip-content
{
	width: 600px !important;
	max-height: 50px;
	overflow: auto;
}
.drobe_result
{
	width: auto !important;	
}

.user_rate .user_info
{
	float: left;
	width: 450px;
}
.drobe_result .user_cont
{
	width:560px !important;
}
.right
{
	margin: 0;
	padding: 0;
	float: right !important;
}
.small_buttons a
{
	margin: 0 5px !important;
	padding: 0 5px !important;
}
.chat_main
{
	width:642px;
	height: auto;
}
.conversations_area
{
	height: auto;
}
.chat_main .chat_txt1
{
	width:465px;
}
.chat_main .chat_txt
{
	width: 450px;
}
.chat_main  .chat_right
{
	margin-right: 135px;
}
.profile_detail div
{
	margin: 0;
}
.half
{
	width: 45%;
	float: left;
	clear: none !important;
}

.qq-upload-button, .qq-upload-button *
{
	cursor: pointer;
	text-align: center;
	
}

#file-uploader .qq-uploader .qq-upload-button{
	background: none repeat scroll 0 0 #CCCCCC;
	border-radius: 10px;
	font-size: 15px;
	margin: 5px 0;
	padding: 7px 0;
	text-align: center;
	width: 350px;;
}

.connection_info .left
{
	clear: none !important;
}
.connection_info .tw_link_btn, .connection_info .fb_link_btn
{
	color: #FFFFFF !important;
}


/*
Custom Select Box
*/

.setScroll {
    overflow-y: scroll;
}
.hideitem, .elmValue {
    display: none;
}
.selectbox {
    background: url("../images/dropdown.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin: 0 0 5px;
    padding: 0 0 0 35px;
}
.selectbox ul {
    background: url("../images/dropdown.png") no-repeat scroll right top transparent;
    list-style: none outside none;
    margin: 0;
    padding: 8px 22px 6px 0;
    vertical-align: top;
}
.select_wrap {
    border: 1px solid #FFFFFF;
    clear: both;
    margin: 0 5px 0 0;
}
.selectboxopen {
    background: url("../images/dropdownopen.png") no-repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    margin: 0;
    padding: 0 0 0 35px;
}
.selectboxopen ul {
    background: url("../images/dropdownopen.png") no-repeat scroll right top transparent;
    height: 19px;
    list-style: none outside none;
    margin: 0;
    padding: 7px 22px 6px 0;
    vertical-align: top;
}
.selectbox ul li, .selectboxopen ul li {
    color: #333333;
    cursor: pointer;
    font-family: arial,helvetica,san-serif;
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.selectboxoptions_wrap {
    clear: both;
    display: none;
    margin: 0;
    padding: 0;
}
.selectboxoptions_radio, .selectboxoptions_check {
    background: none repeat scroll 0 0 #E6E9ED;
    clear: both;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.selectboxoptions_radio li, .selectboxoptions_check li {
    color: #333333;
    cursor: pointer;
    font-family: arial,helvetica,san-serif;
    font-size: 12px;
    list-style: none outside none;
    margin: 2px 0 0 2px;
    padding: 3px 0 2px 20px;
}
.hover {
    background-color: #E6E9ED;
}
.selectboxoptions_check li {
    background: url("../images/checkboxoff.png") no-repeat scroll 5px 6px #E6E9ED;
}
.selectboxoptions_radio li {
    background: url("../images/radiooff.png") no-repeat scroll 5px 6px #E6E9ED;
}
.selectboxoptions_radio li.selected {
    background: url("../images/selectradio.png") no-repeat scroll 5px 6px #F2F2F2;
    display: block !important;
}
.selectboxoptions_radio li.selected_disable {
    background: url("../images/selectradio_disable.png") no-repeat scroll 5px 6px #F2F2F2;
    display: block !important;
}
.selectboxoptions_check li.selected {
    background: url("../images/selectcheck.png") no-repeat scroll 5px 6px #F2F2F2;
    display: block !important;
}
.selectboxoptions_check li.selected_disable {
    background: url("../images/selectcheck_disable.png") no-repeat scroll 5px 6px #F2F2F2;
    display: block !important;
}
.selectboxoptions_radio li.hover, .selectboxoptions_check li.hover {
    background-color: #F2F2F2;
}
.selectboxfoot {
    background: url("../images/selectfoot.png") no-repeat scroll 0 0 transparent;
    float: left;
    padding: 0 0 0 35px;
}
.selectboxfoot div {
    background: url("../images/selectfoot.png") no-repeat scroll right top transparent;
    margin: 0;
    padding: 7px 22px 10px 0;
}
