@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background: #ededed;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #343434;
}

@font-face {
	font-family: 'Helvetica45LightRegular';
	src: url('../font/hll_____-webfont.eot');
	src: url('../font/hll_____-webfont.eot?#iefix')
		format('embedded-opentype'), url('../font/hll_____-webfont.woff')
		format('woff'), url('../font/hll_____-webfont.ttf') format('truetype'),
		url('../font/hll_____-webfont.svg#Helvetica45LightRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
* removing webkit border from chrome and safari
*/
*:focus
{
	outline: none;
}

#banner {
	width: 100%;
	height: 565px;
	background: url(../images/banner.jpg) repeat-x;
}

#fix {
	width: 900px;
	height: auto;
	margin: 0 auto;
}

.iphone {
	float: left;
	width: 519px;
	height: 490px;
	margin-top: 11px;
	background: url(../images/iphone.png) no-repeat;
}

.logo {
	float: right;
	width: 452px;
	height: 81px;
	margin-top: 115px;
	background: url(../images/logo.png) no-repeat;
}

.company {
	float: left;
	width: 400px;
	height: auto;
	margin-top: 60px;
	margin-left: 45px;
}

.apple {
	float: left;
	width: 150px;
	height: 52px;
	margin-right: 20px;
	background: url(../images/apple.png) no-repeat;
}

.android {
	float: left;
	width: 150px;
	height: 69px;
	background: url(../images/android.png) no-repeat;
}

.link-box {
	float: left;
	width: 455px;
	height: 145px;
	background-color: #ededed;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 8px #909090;
	-webkit-box-shadow: 0px 0px 8px #909090;
	box-shadow: 0px 0px 8px #909090;
	margin-top: 78px;
}

.link-box ul {
	width: 400px;
	list-style: circle;
}

.link-box ul li {
	line-height: 1.7;
	font-size: 14px;
}

.timeline {
	float: left;
	width: 460px;
	height: auto;
	margin-right: 70px;
	margin-top: -65px;
	margin-bottom: 80px;
}

h1 {
	font-size: 30px;
	color: #3c4c53;
	font-weight: normal;
	margin-bottom: 7px;
}

.line {
	background: url(../images/devider.jpg) bottom repeat-x;
	float: left;
	width: 100%;
	height: 2px;
}

.testi {
	float: left;
	width: 460px;
	height: auto;
	margin: 10px 0 10px 10px;
}

.photo {
	float: left;
	width: 70px;
	height: 68px;
	border: #fff solid 3px;
	background-color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.testi-txt {
	float: left;
	width: 330px;
	height: auto;
	padding: 10px;
	margin-left: 10px;
	background-color: #ededed;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 4px 3px #c3c3c3;
	-webkit-box-shadow: inset 0px 0px 4px 3px #c3c3c3;
	box-shadow: inset 0px 0px 4px 3px #c3c3c3;
	font-style: italic;
}

.welcome {
	float: right;
	width: 460px;
	height: auto;
}

.welcome p {
	padding: 10px 10px 0 10px;
}

.enter {
	float: left;
	width: 165px;
	height: 40px;
	margin-left: 130px;
	background: url(../images/enter.png) no-repeat;
}

.enter:hover {
	background-position: 0 -46px;
}

#footer {
	width: 100%;
	float: left;
	height: 45px;
	background: #3c4c53;
	margin-top: 20px;
}

.left-link {
	float: left;
	width: auto;
	height: auto;
	margin-top: 17px
}

.flink {
	float: left;
	width: auto;
	height: auto;
	margin-right: 8px;
	margin-left: 8px;
}

.copyright {
	float: right;
	margin-top: 17px
}

.grey {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}

.grey:hover {
	text-decoration: underline;
}

.grey1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}

.top {
	float: left;
	width: 900px;
	height: 44px;
	background: #ededed;
	top: 0;
	padding-top: 20px;
	z-index: 100;
	margin-bottom: 20px;
}

.logo-in {
	float: left;
	width: 200px;
	height: 39px;
	background: url(../images/logo-in.png) no-repeat;
	margin-bottom: 20px;
}

.navi {
	float: right;
	width: auto;
	height: auto;
	margin-top: 10px;
}

.navi-in {
	float: left;
	width: auto;
	height: 30px;
	padding: 0 10px;
	margin-left: 35px;
	margin-right: 35px;
	font-family: Verdana, Geneva, sans-serif;
	color: #3c4c53;
	text-decoration: none;
	text-transform: uppercase;
}

.navi-in:hover {
	height: 26px;
	border-bottom: #a9cf54 solid 4px;
}

.left-panel {
	float: left;
	width: 205px;
	height: auto;
}

.left-navi {
	float: left;
	width: 205px;
	height: auto;
	margin-bottom: 10px;
}

.left-navi-in {
	float: left;
	width: 205px;
	height: 23px;
	border: #e7e7e7 solid 1px;
	background: url(../images/arrow.png) no-repeat 187px center #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #3d4c53;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding-top: 7px;
	margin-bottom: 5px;
}

.left-navi-in:hover {
	background: url(../images/arrow-hover.png) 187px center #a9cf54
		no-repeat;
}

.icon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 7px;
	margin-top: 0;
}

.right-panel {
	width: 205px;
	float: right;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #3c4c53;
	font-weight: normal;
	margin:0px;
	margin-bottom: 5px;
}

.fb_register {
	float: left;
	width: 197px;
	height: 25px;
	margin-bottom: 15px;
	background: url(../images/register_fb.png) no-repeat;
}
.fb_register:hover {
	background: url(../images/register_fb.png) no-repeat bottom;
}
.fb_login {
	float: left;
	width: 197px;
	height: 25px;
	margin-bottom: 15px;
	background: url(../images/facebook.png) no-repeat;
}

.gmail_register {
	float: left;
	width: 197px;
	height: 25px;
	margin-bottom: 15px;
	background: url(../images/register_gmail.png) no-repeat;
}
.gmail_register:hover {
	background: url(../images/register_gmail.png) no-repeat bottom;
}

.gmail_login {
	float: left;
	width: 197px;
	height: 25px;
	margin-bottom: 15px;
	background: url(../images/gmail.png) no-repeat;
}

.or {
	width: auto;
	height: auto;
	background: #ededed;
	padding: 0 10px;
	margin-top: -8px;
	float: left;
	font-weight: bold;
}

.para {
	float: left;
	width: 197px;
	height: auto;
	margin: 10px 0 5px 5px;
}

form input[type="text"], form input[type="password"] {
	background: url(../images/input.png) no-repeat;
	font-size: 12px;
	color: #a8a8a8;
	border: 0;
	height: 15px;
	padding: 5px;
	width: 191px;
	display: block;
	margin-bottom: 7px;
}

form input [type="checkbox"] {
	background: url(../images/input.png) no-repeat;
	font-size: 12px;
	color: #a8a8a8;
	border: 0;
	height: 15px;
	margin-bottom: 7px;
}

.random {
	float: left;
	width: 205px;
	height: auto;
	margin-bottom: 5px;
}

.green {
	font-size: 11px;
	color: #a9cf54;
	text-decoration: none;
}

.green:hover {
	text-decoration: underline;
}

.login {
	float: left;
	width: 114px;
	height: 30px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: url(../images/login.png) no-repeat;
	border: none;
	cursor: pointer;
}

.login:hover {
	background-position: 0 -33px;
}

.signup {
	float: left;
	width: 114px;
	height: 35px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: url(../images/signup.png) no-repeat;
}

.signup:hover {
	background-position: 0 -38px;
}


.signup_now {
	float: left;
	width: 114px;
	height: 33px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: url(../images/sign_up.png) no-repeat;
	border: none;
	cursor: pointer;
}

.signup_now:hover {
	background-position: bottom;
}



.left {
	float: left;
	width: auto;
	height: auto;
}

.right {
	float: right;
	width: auto;
	height: auto;
	margin-right: 37px;
}

#container ul {
	list-style: none;
}

.footer1 {
	width: 100%;
	height: 110px;
	background: #f8f8f8;
	position: fixed;
	clear: both;
	float: left;
	bottom: 0;
}

.big-txt {
	font-size: 14px;
}

.big-img {
	float: left;
	width: 450px;
	overflow:hidden;
	height: 450px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
}

.details {
	margin: auto;
	width: 400px;
	height: 27px;
	padding: 7px 10px;
	background-color: #EDEDED;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	clear: both;
}
#my_drobe_area .details
{
	height: 12px;
	padding-top: 3px;
}
#my_drobe_area .more_margin
{
	margin-top: 2px;
}

.details1 {
	width: 95%;
	height: 15px;
	padding: 7px 10px;
	background-color: #EDEDED;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.imp {
	float: left;
	width: auto;
	height: auto;
	margin-right: 20px;
}

.blue_btn {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/blue.jpg) repeat-x;
	padding: 6px 10px;
	text-align: center;
	border: #086c9d solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
}
.blue_btn_disabled {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/blue_hover.jpg) repeat-x;
	padding: 6px 10px;
	text-align: center;
	border: #086c9d solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
}
.blue_btn_disabled span
{
	color:#AAAAAA;
}

.white_plus {
	float: left;
	width: 16px;
	height: 15px;
	margin: 1px 5px 0 -5px;
	background: url(../images/plus.png) no-repeat;
}

.white_minus {
	float: left;
	width: 16px;
	height: 15px;
	margin: 1px 5px 0 -5px;
	background: url(../images/minus.png) no-repeat;
}

.blue_btn:hover {
	background: url(../images/blue_hover.jpg) repeat-x;
}

.btn_txt {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}

.red_btn {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/red.jpg) repeat-x;
	padding: 6px 10px;
	text-align: center;
	border: #9d1e1c solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
}

.red_btn:hover {
	background: url(../images/red_hover.jpg) repeat-x;
}

.green_btn {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/green.jpg) repeat-x;
	padding: 6px 10px;
	text-align: center;
	border: #6c970b solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 10px;
}

.green_btn:hover {
	background: url(../images/green_hover.jpg) repeat-x;
}

.over {
	width: auto;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}

.white_btn {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/white.jpg) repeat-x;
	padding: 1px 10px;
	text-align: center;
	border: #cdcdcd solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
}

.white_btn:hover {
	background: url(../images/white_hover.jpg) repeat-x;
}

.btn_txt_grey {
	color: #878686;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}

select {
	margin-top: -2px;
	width: 400px;
}

.more_margin {
	float: left;
	width: auto;
	height: auto;
	margin-top: 10px;
}

#scroller-header a {
	text-decoration: none;
	color: #000;
	padding: 5px 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#scroller-header a:hover {
	text-decoration: none;
	color: #AD3B37;
	background: #fff;
}

a.selected {
	text-decoration: none !important;
	color: #AD3B37 !important;
	background: #fff;
}

#scroller-header {
	background: #F0F0F0;
	width: 530px;
	height: 30px;
	padding-top: 10px;
	margin-top: 15px;
	padding-left: 5px;
}

#scroller-body {
	background: #fff;
	width: 530px;
	height: auto;
	padding-bottom: 30px;
	overflow: hidden;
}

#mask {
	width: 100%;
	overflow: hidden !important;
}

#panel {
	margin-left: 0px;
	overflow: hidden;
}

#panel div {
	float: left;
	overflow: hidden;
}

/* Extra styling for each panel*/
#panel ul {
	list-style: none;
	margin: 0 5px;
	padding: 0;
	overflow: hidden;
}

#panel ul li {
	padding: 2px;
	color: #557482;
	width: 85px;
	height: 85px;
	float: left;
	margin: 10px 10px 0 0px;
	border: 1px solid #ccc;
	background-color: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}

#panel ul li.last {
	border-bottom: none !important;
}

#container {
	background: #FFF;
	margin-bottom: 20px;
	width: 450px;
	border: #d2d2d2 solid 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	float: left;
	margin-left:10px;
	min-height: 560px;
}

.heart {
	float: left;
	width: 38px;
	height: 29px;
	background: url(../images/heart.png) no-repeat;
	text-align: center;
	text-decoration: none;
	padding-top: 5px;
	margin: 0 30px;
}
.heart[disabled="disabled"] {
	background: url(../images/heart-hover.png) no-repeat;
}

.heart:hover {
	background: url(../images/heart-hover.png) no-repeat;
}

.share {
	float: left;
	width: 89px;
	height: 33px;
	cursor: pointer;
	position: relative;
	z-index: 100;
}

.buy_it
{
	float: left;
	position: relative;
	z-index: 100;
	margin-left:30px; 
}

.in {
	float: left;
	width: 41px;
	height: 51px;
	margin-left: 10px;
	background: url(../images/in.png) no-repeat;
	margin-top: 2px;
}

.out {
	float: left;
	width: 41px;
	margin-left: 10px;
	height: 51px;
	margin-top: 2px;
	background: url(../images/out.png) no-repeat;
}

.whtever {
	float: left;
	width: 50px;
	height: 51px;
	margin-left: 20px;
	margin-top: 2px;
	background: url(../images/whtever.png) no-repeat;
}

.full {
	float: left;
	width: 535px;
	height: auto;
	margin-top: 10px;
}

.user {
	float: left !important;
	width: 85px !important;
	height: 85px !important;
	margin: 10px 10px 0 0;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.up {
	float: left !important;
	width: auto !important;
	height: 18px;
	background: url(../images/thumb_up.png) no-repeat;
	text-indent: 25px;
	margin-right: 20px;
}

.down {
	float: left !important;
	width: auto !important;
	height: 18px;
	background: url(../images/thumb_down.png) no-repeat;
	text-indent: 25px;
	margin-right: 20px;
}

.delete {
	float: right !important;
	width: 18px !important;
	height: 18px;
	background: url(../images/delete.png) no-repeat;
	position: relative;
	z-index: 10000;
}

.cont {
	float: left !important;
	width: 325px !important;
	height: 45px !important;
	margin-bottom: 10px;
}

.vote {
	float: left !important;
	width: auto !important;
	height: 18px;
	margin-right: 20px;
}

.page-8detail {
	background-color: #EDEDED;
	border-radius: 3px 3px 3px 3px;
	clear: both;
	height: 27px;
	margin: auto;
	margin-bottom: 5px;
	padding: 0 0 0 10px;
	width: 440px;
	overflow: hidden;
}

.plus-icon {
	float: right;
	width: 36px;
	height: 25px;
	border: #d2d2d2 solid 1px;
	background: url(../images/plus.jpg) no-repeat;
}

.plus-icon:hover {
	background: url(../images/plus_hover.jpg) no-repeat;
}

.min-icon {
	float: right;
	width: 36px;
	height: 25px;
	border: #d2d2d2 solid 1px;
	background: url(../images/min.jpg) no-repeat;
}

.min-icon:hover {
	background: url(../images/min_hover.jpg) no-repeat;
}

.plus_head {
	float: left;
	width: auto;
	height: 22px;
	margin-top: 5px;
}

.page_8_middel {
	float: left;
	height: auto;
	margin: 5px 0 0 0;
}

.page_8user {
	float: left;
	width: 228px;
	height: 147px;
}

.page_user_right {
	float: right;
	width: 120px;
	height: auto;
}

.page_8_white_box,.page_8_gry_box  {
	float: left;
	width: 110px;
	height: auto;
	padding: 3px 7px;
	margin-bottom: 2px;
	border: 1px solid #c9c9c9;
	color: #414141;
	font-size: 13px;
}
.page_8_white_box span,.page_8_gry_box span
{
	width: 60px;
	display: inline-block;
	float: left;
} 
.page_8_gry_box {
	background: #ededed;
}

.page_8_sky_b {
	background: url("../images/sky-b.jpg") repeat-x;
	border: 1px solid #086c9d;
	border-radius: 5px 5px 5px 5px;
	float: left;
	height: auto;
	width: 123px;
	padding: 6px 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	text-decoration: none;
}

.page_8_sky_b:hover {
	background: url("../images/sky-b-hover.jpg") repeat-x;
}

.bio_data_tax {
	float: left;
	width: 260px !important;
	height: 100px;
	border: 1px solid #c9c9c9;
	padding: 7px;
}

.bio_right_table {
	float: right;
	width: 160px;
	height: auto;
	border: 1px solid #c9c9c9;
}

.gry_td {
	background: #ededed;
	color: #414141;
	font-size: 12px;
	padding: 5px;
}

.white_td {
	background: #fff;
	color: #414141;
	font-size: 12px;
	padding: 5px;
}

.tp {
	width: 425px;
	height: 95px;
	top: 0;
	position: relative;
}

.tp > img {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    height: 85px !important;
    margin: 10px 10px 0 0;
    width: 85px !important;
    left: 0 !important;
    position: absolute;
    top: 0;
}

.user_cont {
	width: 325px !important;
	height: 75px !important;
	background: #f2f2f2;
	padding: 5px;
	border: #eaeaea solid 1px;
	position: absolute;
	top: 10px;
	right: -3px;
}

#shareit-box {
	display: none;
	z-index: 10000;
	position: absolute;
	top: 15px !important;
	left: -50px !important;
}

#shareit-header {
	width: 138px;
}

#shareit-body {
	width: 182px;
	height: 59px;
	background: url(../images/shareit.png) no-repeat;
}

#shareit-blank {
	height: 20px;
}

#shareit-url {
	height: 50px;
	text-align: center;
}
#shareit-icon
{
	width: 245px;
	display: none;
}
#shareit-icon ul {
	width:auto;
	list-style: none;
	width: auto;
	margin: 0;
	padding: 0 0 0 8px;
}

#shareit-icon ul  li {
	float: left;
	padding: 0 2px;
}

/*****************************
Chat area
*********************/
.chat_main{
	width:450px;
	margin-bottom:10px;
}
.chat_send textarea{
	width:366px;

}
.chat_icon{
	float:left;
	width:33px;
	height:33px;
	margin:0 10px;
}
.chat_txt{
	float:left;
	width:375px;
	height:auto;
	background:#ededed;
	padding:5px;
	border:#d8d8d8 solid 1px;
}
.chat_txt1{
	float:left;
	width:385px;
	height:auto;
	background:#fff;
	padding:5px;
	border:#d8d8d8 solid 1px;
}

.chat_send{
	float:left;
	width:450px;
	height:auto;
	background:#ededed;
	border:#d8d8d8 solid 1px;
}
.devider{
	float:left;
	width:535px;
	height:1px;
	background:#d8d8d8;
	margin:10px 0;
}
.send_btn{
	float:left;
	width:auto;
	height:16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:url(../images/send.jpg) repeat-x;
	padding:12px 10px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	min-width:45px;
	margin:2px 0px 0 6px;

}
.send_btn:hover{
		background:url(../images/send_hover.jpg) repeat-x;
}
.chat{
	border:0; background:none; padding:5px; float:left}

.chat_right
{
	float: right;
}
.time
{
	margin: 0px 10px 0px 0px;
}
/***********
Added by haresh Vidja
**************/
.clear
{
	clear: both !important;
	float: none;
}
.spacer
{
	clear: both !important;
	float: none;
	height: 10px;
}
.hide
{
	display: none;
}
form input.small
{
	background: url("../images/input-small.png") no-repeat;
	width: 77px;
	float: left;
	margin-right: 5px;
}
form input.very_small
{
	background: url("../images/input-very-small.png") no-repeat;
	width: 40px;
	float: left;
	margin-right: 5px;
}
.right_link
{
	float: right;
	position: relative;
	top:5px;	
}
 a.right_link
{
	color: inherit;
	text-decoration: underline;
}
a.right_link:hover
{
	text-decoration: none;
}

.field_error
{
	color: red;
}
.field_error ul
{
	list-style: disc !important;
}
.field_error ul li
{
	line-height: 20px;
}
.right-panel h2
{
	float: left;
}
.right-panel a
{
	color: inherit;
}
.profile_info
{
	float: left;
	margin-left: 5px;
	width: 123px;
}
.profile_info .user_name
{
	font-size: 12px;
	font-weight: bold;
}
.profile_info .detail
{
	font-size: 11px;
	line-height: 15px;
}
.full_width
{
	width: auto !important;
	float: none !important;
}
.my_recent_Drobes a
{
	margin: 4px;	
}
.profile_detail
{
	float: left;
	width: 165px;
	font-size: 15px;
}
.page_8user
{
	width: 150px;
	margin-right: 5px;
}
.bio_data_tax
{
	width: 300px;
	height: 125px;
}
.your_rate
{
	position: relative;
}
.your_rate .msg
{
	font-size: 15px;
}
.your_rate .no_comment
{
	margin-top:2px;
	margin-left: 60px;
	color: #666666;
	font-size: 15px;
	width:290px;
	height: 45px;
	line-height:13px;
	overflow: hidden;
}
.your_rate .comment
{
	margin-top:2px;
	margin-left: 60px;
	color: #666666;
	font-size: 12px;
	width:290px;
	height: 45px;
	line-height:13px;
	overflow: hidden;
}

#next_drobe
{
	background: url("../images/next_arrow.png") no-repeat scroll right center transparent;
    float: right;
    font-size: 25px;
    line-height: 38px;
    padding-right: 40px;
    color: #ADADAD;
    cursor: pointer;
     padding-right: 40px;
    position: relative;
    top:-36px;
}
#next_drobe:hover
{
	color: #333333;
}
#my_followers
{
	height: 535px;
	position: relative;
}
#my_followers a
{
	margin: 3px;
}
#my_followers .details1 a
{
	position:relative;
	top:-5px;
	color: inherit;
	text-decoration: underline;
}
#my_followers .details1 a.follower_name
{
	float: left;
	font-size: larger;
}
#my_followers .details1 a.message_link
{
	float: right;
}
input.green_btn
{
	color: #FFFFFF;
}


#file_upload_form input
{
	/*display: none;*/
}
#file_uploader
{
	cursor: pointer;
	position: relative;
	margin-bottom: 5px;
}
#file_uploader .drobe_upload_msg, #file_uploader .uploadify
{
	width: 436px;
    color: #FFFFFF;
    float: left;
    font-size: 25px;
    left: 2px;
    line-height: 50px;
    position: absolute;
    z-index: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
    top:200px;
    background-color: rgb(0, 0, 0);
    border-radius:5px;
    padding: 0 5px;
}
.drobe_upload_msg .qq-upload-button
{
	
}
.drobe_upload_msg .qq-upload-button > span.message
{
	background-color: rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    float: left;
    font-size: 25px;
    left: 2px;
    line-height: 50px;
    width:442px;
    margin-top:200px;
    position: absolute;
    
}

.drobe_preview
{
	display: none;
	position: relative;
	width: 450px;
	
}
#clear_preview
{
	position: absolute;
	float: right;
	color: #AAAAAA;
	z-index: 1000;
	text-decoration: none;
	margin: 0;
	top:1px;
	right: -1px;
	font-size:9px;
	font-weight:bold;
	background-color: rgba(0,0,0,0.7);
	padding: 0px 5px;
    display: none;
    cursor: pointer;
    
}
#clear_preview:hover
{
	color: #FFFFFF;
}
.drobe_preview .big-img
{
	overflow: none;
	float: left;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 450px;
}
.more_options > label
{
	font-weight: bold;
}
.more_options>div
{
	
}
.more_options>div>div
{
	float: left;
	width: 120px;
}
.drobe_uploaded
{
	font-size: 15px;
	text-align: center;
}
.drobe_uploaded  .blue_btn
{
	text-align: center;
	color:#FFFFFF;
	float: none;
	padding: 4px 10px;
}
.drobe_uploaded .right
{
	margin: 0px;
}
.drobe_uploaded .big-img 
{
	margin-top: 5px;
}
#drobe_comment
{
	border: 1px solid #ADADAD;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 40px;
    padding: 2px;
    resize: none;
    width:270px;
}

.filter_drobe
{
	position: relative;
	float:right;
	right: 0px;
}
.filter_drobe .stream_button
{
	background:#62af56;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    border-color: #2d6324;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
    padding: 8px 10px;
    float: right;
    width: 120px;


}
.filter_drobe .stream_button:hover
{
	cursor: pointer !important;
}
.filter_drobe .categories
{
	display:none;
	position: absolute;
	padding: 10px;
	width: 430px;
	float: right;
	background:#FFFFFF;
	border:solid 1px #AAAAAA;
	z-index: 999;
	right: 0px;
	top:15px;
}
.filter_drobe .red_btn
{
	float: right;
	color: #FFFFFF;
	cursor: pointer;
	margin: 0px;
	padding: 0px 5px;
	position: relative;
    z-index: 1000;
}
.filter_drobe .categories .list
{
	width: 49%;
	float: left;
}
.filter_drobe .categories .list:even
{
	float: right;
}
.filter_drobe .blue_btn
{
	color: #FFFFFF;
	padding: 3px 10px;
	float: right;
}
#rate-drobe-container
{
	position: relative;
}
#rate_drobe_block
{
	position: absolute;
	top:10px;
}
#edit_profile  .profile_detail
{
	width: 260px;
	font-size: 12px;
	margin-left: 20px;
}
#edit_profile  .profile_detail > label
{
	font-weight: bold;
	padding: 5px 0px; 
}
#edit_profile  .profile_detail textarea
{
	width: 100%;
	padding:3px;
	border: 1px #AAAAAA solid;
	resize:none;
}

#edit_profile #change_picture
{
	color: #316CCC;
	font-size:11px;
	line-height: 15px !important;
	text-align: center;
	display: block;
	width: 150px;
}

#edit_profile #profile_image
{
	border: 2px #DEDEDE solid;
}
#edit_profile .green_btn, #edit_profile .blue_btn
{
	margin: 10px 0px !important;
	padding: 3px 10px;
	color: #FFFFFF;
}
#edit_profile .blue_btn
{
	width: 130px !important;
	margin: 3px 0px !important;
}
input.green_btn, input.red_btn
{
	margin: 5px 5px 0px 0px !important;
}
.drobe_big_img
{
	margin-top:0px;
	position: relative;
}
.confirm_popup
{
	display: none;
	border: 5px solid;
	padding:10px;
	background:#FFFFFF;
	border-color:rgba(0,0,0,0.5); 
}
#btn_close_chatting
{
	float: right;
	margin: 0px  !important;
	padding: 3px 10px !important;
	color: #FFFFFF;
}
#chat_area
{
	height: 200px;
	overflow: auto;
	position: relative;
}
div.close_rate, .drobe_result
{
	cursor:pointer;
	
}
.drobe_result
{
	position: relative
}
.badges
 {
	font-size: 10px;
	font-weight:bold;
	color: #ffffff;
	padding: 0px 2px;
	background: -moz-linear-gradient(
		top,
		#ff3030 0%,
		#ff0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff3030),
		to(#ff0000));
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	border: 2px solid #ffffff;
	-moz-box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	position: absolute;
	float: left;
	right: 2px;
	top: 13px;
	z-index: 1;
}

#close_drobe_id
{
	display: none;
}

#rate_drobe_block .big-txt
{
	font-size: 16px !important;
	line-height: 20px;
	margin: 5px 0px;
	display: block;
}
.rate_response
{
	background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 15px;
    left: 539px;
    padding: 10px 10px 20px;
    position: absolute;
    top: 327px;
    width: 242px;
    z-index: 100000;
}
.rate_response .current
{
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.rate_response .half_left
{
	float:left;
	width: 45%;
	text-align: right;
}

.rate_response .half_right
{
	float:right;
	width: 45%;
	text-align: left;
}


.user_rate
{
	background: #F2F2F2;
	border: #EAEAEA 1px solid;
	padding: 2px;
	position: relative;
}
.user_rate .rate
{
	float: left;
	width: 30px;
	height: 30px;
	background: #000000;
}
.user_rate .rate_Cute
{
	background: url("../images/small_rate.png") no-repeat  left top;
}
.user_rate .rate_Hot
{
	background: url("../images/small_rate.png") no-repeat  left center;
}
.user_rate .rate_Skip
{
	background: url("../images/small_rate.png") no-repeat  left bottom;
}
.user_rate .profile_photo
{
	margin: 2px;
	float: left;
	border: 1px solid #FFFFFF;
	margin-left: 5px;
}
.tp .user_info
{
	color: #000000;
	margin-left: 5px;
	line-height: 15px;
}
.tp .user_info a
{
	font-size: 14px;
	text-decoration: underline;
	color: inherit;
	line-height: 17px;
}
.tp .user_info a:hover
{
	text-decoration: none;
}
.tp .conversation, .user_rate .conversation
{
	float: right;
	text-align: right;
	position: absolute;
	right: 5px;
	top:5px;
}
.received_result .conversation
{
	top:15px !important	
}
a.reply_btn
{
	color: #FFFFFF; 
	font-size: 12px; 
	padding: 0px 3px; 
	margin: -3px -2px;
	float: right;
}
.tp .badges,  .user_rate .badges
{
	position: relative;
	float: right;
	width:10px;
	text-align:center;
	top:-2px;
}
.user_rate .comment
{
	background: url("../images/user_comment.gif") no-repeat left;
	padding-left:25px;
	margin-left: 10px;
	font-size: 12px;
	line-height: 18px;
}
.tp .rate_button, .user_rate .rate_button
{
	display:block;
	float: right;
	cursor: pointer;
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: url("../img/stars.png") left top no-repeat;
	width: 20px;
	height: 20px;
	
}
.tp .has_button, .user_rate .has_button
{
	background: url("../img/stars.png") left bottom no-repeat;
}
.tp .response_text
{
	font-size: 12px;
	padding-left: 35px;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
	position: relative;
	top:-7px;
}

.tp .very_small_Cute
{
	background: url("../images/small_rate.png") no-repeat  left top;
}
.tp .very_small_Hot
{
	background: url("../images/small_rate.png") no-repeat  left center;
}
.tp .very_small_Skip
{
	background: url("../images/small_rate.png") no-repeat left bottom;
}

.tp_big
{
	width: 447px;
}
.tp_big .user_cont, .tp_big .cont
{
	width: 345px !important;
}

#btn_close_conversation
{
	color: #FFFFFF;
	float: right;
	margin: 3px 10px;
}
.bio_data_tax pre
{
	margin: 0px;
	padding: 0px;
width:200px;
display: inline;
}
.my_recent_Drobes
{
margin: 0px;
}
#my_drobes
{
	height: 185px;
}
#most_recent_area, #heighest_rated_area, #most_viewed_area, #featured_area
{
	height: 475px;
	overflow: auto;
	margin-left: 10px;
}
.TabbedPanels
{
	position: relative;
}
.infiniteScrollLoading
{
	float: left;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-size: 16px;
	position: absolute;
	bottom:10px;
	left:10px;
	z-index: 100000;
	display: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 8px #909090;
	-webkit-box-shadow: 0px 0px 8px #909090;
	box-shadow: 0px 0px 8px #909090;
	
}
#user_login_block
{
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	width:432px;
	display: none;
	padding: 0px 10px;
	float: left;
	position: absolute;
	z-index: 9999;
	background: #FFFFFF;
}
#user_login_block .register_info
{
	display: none;
}
#user_login_block .facebook_login_info
{
	background: url("../images/facebook_arrow.png") right no-repeat;
	height: 50px;
	padding:5px 30px 5px 10px;
	margin: 10px;
}
#user_login_block .gmail_login_info
{
	background: url("../images/gmail_arrow.png") right no-repeat;
	height: 50px;
	padding:5px 30px 5px 10px;
	margin: 20px 10px 10px 10px;
}
#user_login_block .normal_login_info
{
	background: url("../images/normal_arrow.png") right no-repeat;
	height: 160px;
	padding:5px 30px 5px 10px;
	margin: 20px 10px 10px 10px;
}
#user_login_block .register_login_info
{
	background: url("../images/register_arrow.png") right no-repeat;
	height: 60px;
	padding:5px 30px 5px 10px;
	margin: 20px 10px 10px 10px;
}

.login_info p
{
	font-size: 14px;
	line-height: 20px;
}
.normal_login_info p
{
	margin-top: 50px;
}
.feedback_area
{
	height: 490px;
}
.conversations_area
{
	height: 305px;
	overflow: auto;
}
.chatting_area
{
	height: 450px;
	overflow: auto;
}
.drobe_result_area
{
	height:420px
}
.drobe_result_area .user_rates
{
	width:430px;
}

/************************
Dialogbox
**************************/



/* Add some nice box-shadow-ness to the dialogues */
.ui-tooltip-dialogue{
	max-width: 420px;
	min-width: 210px;
 
	-moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}
 
.ui-tooltip-dialogue .ui-tooltip-content{
	padding: 10px;
}
 
.ui-tooltip-dialogue button{
	float: left;
	width: 47%;
	margin-right: 10px;
	padding: 3px 0;
 
	text-align: center;
	font-size: 10.5px;
}
 
.ui-tooltip-dialogue button + button{
	float: right;
	margin-right: 0;
}
 
.ui-tooltip-dialogue input{
	width: 95%;
	padding: 3px 0 3px 5px;
	margin-bottom: 7px;
 
	font-size: 10.5px;
}
 
.ui-tooltip-dialogue button.full{
	float: none;
	width: 100%;
}


.page_user_right .red_btn, .page_user_right .blue_btn
{
	color: white;
	cursor: pointer;
	padding: 6px;
	width: 108px;	
	margin: 0px;
}
.page_user_right .red_btn
{
	background: url(../images/red.jpg) repeat-x;
}
.page_user_right .blue_btn
{
	background: url(../images/blue.jpg) repeat-x;
}

.qq-upload-list
{
	display: none;
}

img.lazy
{
	background: url("../images/loading.gif") no-repeat center center transparent;
	visibility: hidden;
}


/*********************************
Share it button style
**********************************/
.gplus_share, .fb_like
{
	width: 50px;
	height:25px;
	overflow: hidden !important;
}
.gplus_share
{
	width: 60px;
	
}
.fb_like iframe, .fb_like span
{
	width: 50px important;
	overflow: hidden !important;
}
.share-popup
{
	border-radius: 5px !important;
	padding: 5px 0px 5px 0px !important;
	border:  3px solid #CCCCCC !important;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15) !important;
}
.share-popup .ui-tooltip-content
{
	padding: 5px !important;
}



input#tmp_file {
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 100px;
  z-index: 2;
  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}
.drobe_comment
{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border-radius: 2px 2px 0px 0px;
    top: 0px;
    position: absolute;
    text-align: right;
    width: 440px;
    z-index: 1000;
    padding: 0px 10px;
    color: #FFFFFF;
    text-align: left;
    font-size:14px;
    padding: 10px 5px;
    display: none;
}
.flag_drobe
{
	display:none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border-radius: 0 0 2px 2px;
    bottom: 0;
    line-height: 40px;
    position: absolute;
    text-align: right;
    width: 430px;
    z-index: 1000;
    padding: 0px 10px;
}
.flag_drobe .summary
{
	margin-left: 110px;
	float: left;
	color: #FFFFFF;
	font-weight: bold;
}
.flag_drobe a
{
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.flag_form
{
	display:none;
	width: 280px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	border: 2px solid #FFFFFF;
	border-radius:5px;
	padding: 2px 10px 2px 10px;
	text-align: left;
}
.flag_form h2
{
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}
.flag_form select
{
	width: 275px;
}
.error
{
	color: red;
}
.error ul
{
	list-style: disc !important;
}
.big-tip
{
	padding: 5px;
	font-size:14px !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #ffffff !important;
	-moz-box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
}
#DrobeComment{
	border: 1px solid #ADADAD;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 15px;
    height: 40px;
    padding: 2px;
    resize: none;
    width: 270px;
}

/*
Styles for Content page
*/

.content_page
{
	width: 820px !important;
	margin:0px !important;
	padding: 40px !important;
	font-size: 11px;
}

.iphone
{
	font-size: 12px;
	height: auto !important;
	margin: 10px;
}
.content_page h1,.content_page h2,.content_page h3,.content_page h4, .content_page h5
{
	margin: 5px 0px 0px 0px;
}
.content_page h2
{
	font-size: 20px;
    line-height: 20px;
    margin: 0px 0px 7px 0px;
}
.content_page h3
{
	font-size: 18px;
    line-height: 20px;
    margin: 0px 0px 7px 0px;
}
.content_page h4
{
	font-size: 16px;
    line-height: 20px;
    margin: 0px 0px 7px 0px;
}
.content_page h5
{
	font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 7px 0px;
}
.content_page p
{
    
    line-height: 1.2em;
    margin: 0 0 0.6em;
    margin-bottom: 16px;
}
.content_page hr
{
	margin: 5px 0px 10px 0px;
	border : #EDEDED 1px solid;
}
.content_page ul, .content_page ol
{
	margin: 0 0 0.6em 25px;
    padding: 0;
}
.content_page ul
{
	list-style: disc !important;
}
.content_page a, .content_page a:visited, .content_page a:hover
{
	color: #2180CC;
    text-decoration: none;
}

#following_list .details1
{
	position: relative;
}
#following_list .details1 .badges
{
	float: left;
    margin: 0 0 0 10px;
    position: static;
}
 .left-navi-in .badges, .TabbedPanelsTab .badges
 {
 	float:none;
 	display:inline;
    margin: 0 0 0 5px;
    position: static;
    
 }
#following_list .details1 .badges a,  .left-navi-in .badges a, .TabbedPanelsTab .badges a
{
	text-decoration: none;
	margin: 0 2px;
	position: static;
}

.user_cont .cont .user_comment
{
	max-height: 32px;
	width:300px;
	font-size:12px;
	line-height: 15px;
	overflow: hidden; 
}
#gave_feedback .user_cont .cont .drobe_title
{
	margin-top:5px;
	max-height: 15px;
	width:300px;
	font-size:12px;
	line-height: 15px;
	overflow: hidden; 
	display: block;
}

/*
Contact Us page Style
*/
form#contact_form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}

form#contact_form div {
	clear: both;
	margin-bottom: 0.1em;
	padding: .0em .5em;
	vertical-align: text-top;
}
form#contact_form .input {
	color: #444;
}
form#contact_form .required {
	font-weight: bold;
}
form#contact_form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form#contact_form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
form#contact_form label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
form#contact_form > div > input, form#contact_form  div > textarea {
	clear: both;
	font-size: 100%;
	padding: 5px;
	width:98%;
	background: none !important;
	border: 1px solid #AAAAAA;
	color:#000000;
	-moz-box-shadow:    0px 0px 3px 1px #ccc;
  	-webkit-box-shadow: 0px 0px 3px 1px #ccc;
  	box-shadow:         0px 0px 3px 1px #ccc;
  	resize:none;
  	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
form#contact_form  div > textarea
{
	height: 80px;
}
form#contact_form select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
form#contact_form select[multiple=multiple] {
	width: 100%;
}
form#contact_form option {
	font-size: 120%;
	padding: 0 3px;
}
form#contact_form input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
form#contact_form div.checkbox label {
	display: inline;
}
form#contact_form input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
form#contact_form .radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
form#contact_form input[type=submit] {
	font-size: 14px;
	color: #ffffff;
	padding: 7px 12px;
	background: -moz-linear-gradient(
		top,
		#b8da78 0%,
		#8dc647 68%,
		#8ec626);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#b8da78),
		color-stop(0.68, #8dc647),
		to(#8ec626));
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #74a21f;
	-moz-box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(133,040,111,1);
	-webkit-box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(133,040,111,1);
	box-shadow:
		0px 0px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(133,040,111,1);
	text-shadow:
		1px -1px 1px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,1);
}
form#contact_form input[type=submit]:hover
{
	background: -moz-linear-gradient(
		top,
		#8ec626 0%,
		#8dc647 68%,
		#b8da78);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#8ec626),
		color-stop(0.68, #8dc647),
		to(#b8da78));
		cursor: pointer;
}

/* Form errors */
form#contact_form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form#contact_form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form#contact_form .error,
form#contact_form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
div.success
{
	padding: 5px;
	background: #E1FCB8;
	margin: 5px 0px;
	border: solid 1px #617A32;
	border-left: none;
	border-right: none;
}

/*
*Search keyword
*/
.search_input
{
	clear: both;
	font-size: 100%;
	padding: 5px 30px 5px 10px;
	width:360px;
	background: url("../images/icon7.png") no-repeat 375px 5px #FFFFFF !important;
	border: 1px solid #AAAAAA;
	color:#A8A8A8;
	-moz-box-shadow:    0px 0px 3px 1px #ccc;
  	-webkit-box-shadow: 0px 0px 3px 1px #ccc;
  	box-shadow:         0px 0px 3px 1px #ccc;
  	resize:none;
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
a.fb_link_btn
{
	 -moz-user-select: none;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 12px Verdana, sans-serif;
	display:block;
	float:left;
	background: url("../images/facebook_white_icon.png") no-repeat 10px 5px #2A49A5 !important;
	line-height: 20px !important;
	padding-left:30px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}

a.tw_link_btn
{
	-moz-user-select: none;
    border: 1px solid #057ED0;
    box-shadow: 0 1px #48BFEA inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font: 12px Verdana, sans-serif;
	display:block;
	float:left;
	background: url("../images/twitter_white_icon.png") no-repeat 5px 5px #019AD2 !important;
	line-height: 20px !important;
	padding-left:30px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
a.fb_link_btn,a.tw_link_btn
{
	width: 180px;
	margin-right: 5px;
}
.jcrop-vline
{
	padding: 0 !important;
	margin: 0 !important;
	
}

