@font-face {
	font-family: Helvetica45LightRegular;
	src: url(../font/hll_____-webfont.eot?#iefix) format(embedded-opentype),
		url(../font/hll_____-webfont.woff) format(woff),
		url(../font/hll_____-webfont.ttf) format(truetype),
		url(../font/hll_____-webfont.svg#Helvetica45LightRegular) format(svg);
	font-weight: 400;
	font-style: normal
}

body {
	background: #ededed;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #343434;
	margin: 0;
	padding: 0
}

:focus {
	outline: 0
}

#banner {
	width: 100%;
	height: 565px;
	background: url(../images/banner.jpg) repeat-x
}

#fix {
	width: 900px;
	height: auto;
	margin: 0 auto
}

.iphone {
	float: left;
	width: 519px;
	background: url(../images/iphone.png) no-repeat;
	font-size: 12px;
	height: auto !important;
	margin: 10px
}

.logo {
	float: right;
	width: 452px;
	height: 81px;
	margin-top: 115px;
	background: url(../images/logo.png) no-repeat
}

.company {
	float: left;
	width: 400px;
	height: auto;
	margin-top: 60px;
	margin-left: 45px
}

.apple {
	float: left;
	width: 150px;
	height: 52px;
	margin-right: 20px;
	background: url(../images/apple.png) no-repeat
}

.android {
	float: left;
	width: 150px;
	height: 69px;
	background: url(../images/android.png) no-repeat
}

.link-box {
	float: left;
	width: 455px;
	height: 145px;
	background-color: #ededed;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 8px #909090;
	-webkit-box-shadow: 0 0 8px #909090;
	box-shadow: 0 0 8px #909090;
	margin-top: 78px
}

.link-box ul {
	width: 400px;
	list-style: circle
}

.link-box ul li {
	line-height: 1.7;
	font-size: 14px
}

.timeline {
	float: left;
	width: 460px;
	height: auto;
	margin-right: 70px;
	margin-top: -65px;
	margin-bottom: 80px
}

h1 {
	font-size: 30px;
	color: #3c4c53;
	font-weight: 400;
	margin-bottom: 7px
}

.line {
	background: url(../images/devider.jpg) bottom repeat-x;
	float: left;
	width: 100%;
	height: 2px
}

.testi {
	float: left;
	width: 460px;
	height: auto;
	margin: 10px 0 10px 10px
}

.photo {
	float: left;
	width: 70px;
	height: 68px;
	border: #fff solid 3px;
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.testi-txt {
	float: left;
	width: 330px;
	height: auto;
	margin-left: 10px;
	background-color: #ededed;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0 0 4px 3px #c3c3c3;
	-webkit-box-shadow: inset 0 0 4px 3px #c3c3c3;
	box-shadow: inset 0 0 4px 3px #c3c3c3;
	font-style: italic;
	padding: 10px
}

.welcome {
	float: right;
	width: 460px;
	height: auto
}

.welcome p {
	padding: 10px 10px 0
}

.enter {
	float: left;
	width: 165px;
	height: 40px;
	margin-left: 130px;
	background: url(../images/enter.png) no-repeat
}

.enter:hover {
	background-position: 0 -46px
}

#footer {
	width: 100%;
	float: left;
	height: 35px;
	background: #3c4c53;
	margin-top: 20px
}

.left-link {
	float: left;
	width: auto;
	height: auto;
	margin-top: 12px
}

.flink {
	float: left;
	width: auto;
	height: auto;
	margin-right: 8px;
	margin-left: 8px
}

.copyright {
	float: right;
	margin-top: 12px
}

.top {
	float: left;
	width: 900px;
	height: 44px;
	background: #ededed;
	top: 0;
	padding-top: 20px;
	z-index: 100;
	margin-bottom: 20px
}

.logo-in {
	float: left;
	width: 200px;
	height: 39px;
	background: url(../images/everdrobe_logo.png) no-repeat;
	margin-bottom: 20px
}

.navi {
	float: right;
	width: auto;
	height: auto;
	margin-top: 10px
}

.navi-in {
	float: left;
	width: auto;
	height: 30px;
	margin-left: 35px;
	margin-right: 35px;
	font-family: Verdana, Geneva, sans-serif;
	color: #3c4c53;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 10px
}

.navi-in:hover {
	height: 26px;
	border-bottom: #a9cf54 solid 4px
}

.left-panel {
	float: left;
	width: 205px;
	height: auto
}

.left-navi {
	float: left;
	width: 205px;
	height: auto;
	margin-bottom: 10px
}

.left-navi-in {
	float: left;
	width: 205px;
	height: 23px;
	border: #e7e7e7 solid 1px;
	background: url(../images/arrow.png) no-repeat 187px center #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #3d4c53;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding-top: 7px;
	margin-bottom: 5px
}

.left-navi-in:hover {
	background: url(../images/arrow-hover.png) 187px center #CE2022
		no-repeat;
	color : #FFFFFF;	
}

.icon_post {
	 float: left;
    height: 16px;
    margin: 0 10px 0 5px;
    width: 35px;
}

.icon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 7px 7px
}

.right-panel {
	width: 205px;
	float: right
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #3c4c53;
	font-weight: 400;
	margin: 0 0 5px
}

.fb_register {
	float: left;
	width: 197px;
	height: 25px;
	margin-bottom: 15px;
	background: url(../images/register_fb.png) no-repeat
}

.fb_register:hover {
	background: url(../images/register_fb.png) no-repeat bottom
}

.fb_login {
	float: left;
	width: 197px;
	height: 25px;
	margin-bottom: 15px;
	background: url(../images/facebook.png) no-repeat
}

.gmail_register {
	float: left;
	width: 197px;
	height: 25px;
	margin-bottom: 15px;
	background: url(../images/register_gmail.png) no-repeat
}

.gmail_register:hover {
	background: url(../images/register_gmail.png) no-repeat bottom
}

.gmail_login {
	float: left;
	width: 197px;
	height: 25px;
	margin-bottom: 15px;
	background: url(../images/gmail.png) no-repeat
}

.or {
	width: auto;
	height: auto;
	background: #ededed;
	margin-top: -8px;
	float: left;
	font-weight: 700;
	padding: 0 10px
}

.para {
	float: left;
	width: 197px;
	height: auto;
	margin: 10px 0 5px 5px
}

form input[type=text],form input[type=password] {
	background: url(../images/input.png) no-repeat;
	font-size: 12px;
	color: #a8a8a8;
	border: 0;
	height: 15px;
	width: 191px;
	display: block;
	margin-bottom: 7px;
	padding: 5px
}

form input [type=checkbox] {
	background: url(../images/input.png) no-repeat;
	font-size: 12px;
	color: #a8a8a8;
	border: 0;
	height: 15px;
	margin-bottom: 7px
}

.random {
	float: left;
	width: 205px;
	height: auto;
	margin-bottom: 5px
}

.green {
	font-size: 11px;
	color: #a9cf54;
	text-decoration: none
}

.login {
	float: left;
	width: 114px;
	height: 30px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: url(../images/login.png) no-repeat;
	border: 0;
	cursor: pointer
}

.login:hover {
	background-position: 0 -33px
}

.signup {
	float: left;
	width: 114px;
	height: 35px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: url(../images/signup.png) no-repeat
}

.signup:hover {
	background-position: 0 -38px
}

.signup_now {
	float: left;
	width: 114px;
	height: 33px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	background: url(../images/sign_up.png) no-repeat;
	border: 0;
	cursor: pointer
}

.signup_now:hover {
	background-position: bottom
}

.left {
	float: left;
	width: auto;
	height: auto
}

.right {
	float: right;
	width: auto;
	height: auto;
	margin-right: 37px
}

#container ul {
	list-style: none
}

.footer1 {
	width: 100%;
	height: 110px;
	background: #f8f8f8;
	position: fixed;
	clear: both;
	float: left;
	bottom: 0
}

.big-txt {
	font-size: 14px
}

.big-img {
	float: left;
	width: 450px;
	overflow: hidden;
	height: 450px;
	border: 1px solid #d2d2d2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	text-align: center;
	margin-bottom: 10px
}

.details {
	width: 400px;
	height: 27px;
	background-color: #ededed;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	clear: both;
	margin: auto;
	padding: 7px 10px
}

#my_drobe_area .details {
	height: 12px;
	padding-top: 3px
}

#my_drobe_area .more_margin {
	margin-top: 2px
}

#my_drobe_area .drobe_sale {
	padding-left: 10px;
	margin-right: 0;
	float: right !important;
	position: relative
}

.details1 {
	width: 95%;
	height: 15px;
	background-color: #ededed;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 7px 10px
}

.imp {
	float: left;
	width: auto;
	height: auto;
	margin-right: 20px
}

.red_btn_rate {
	background: url("../images/red.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    height: auto;
    min-width: 45px;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.blue_btn_disabled {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/blue_hover.jpg) repeat-x;
	text-align: center;
	border: #086c9d solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
	padding: 6px 10px
}

.blue_btn_disabled span {
	color: #aaa
}

.white_plus {
	float: left;
	width: 16px;
	height: 15px;
	background: url(../images/plus.png) no-repeat;
	margin: 1px 5px 0 -5px
}

.white_minus {
	float: left;
	width: 16px;
	height: 15px;
	background: url(../images/minus.png) no-repeat;
	margin: 1px 5px 0 -5px
}

.red_btn_rate:hover {
	background: url(../images/red_hover.jpg) repeat-x
}

.btn_txt {
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	text-decoration: none
}

.blue_btn:hover
{
	background: url(../images/blue_hover.jpg) repeat-x;
}
.blue_btn
{
	float: right;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/blue.jpg) repeat-x;
	text-align: center;
	border: #1c1e9d solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
	padding: 6px 10px;
	color: #ffffff;
}
.red_btn {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/red.jpg) repeat-x;
	text-align: center;
	border: #9d1e1c solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
	padding: 6px 10px
}

.red_btn:hover {
	background: url(../images/red_hover.jpg) repeat-x
}

.red_btn_disabled {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/red_hover.jpg) repeat-x;
	text-align: center;
	border: #086c9d solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
	padding: 6px 10px
}

.green_btn {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/green.jpg) repeat-x;
	text-align: center;
	border: #6c970b solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 10px;
	padding: 6px 10px
}

.green_btn:hover {
	background: url(../images/green_hover.jpg) repeat-x
}

.over {
	width: auto;
	height: auto;
	margin: 20px auto 0
}

.white_btn {
	float: left;
	width: auto;
	height: auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/white.jpg) repeat-x;
	text-align: center;
	border: #cdcdcd solid 1px;
	text-decoration: none;
	min-width: 45px;
	margin-left: 30px;
	padding: 1px 10px
}

.white_btn:hover {
	background: url(../images/white_hover.jpg) repeat-x
}

.btn_txt_grey {
	color: #878686;
	font-weight: 700;
	font-size: 13px;
	text-decoration: none
}

select {
	margin-top: -2px;
	width: 400px
}

.more_margin {
	float: left;
	width: auto;
	height: auto;
	margin-top: 10px
}

#scroller-header a {
	text-decoration: none;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px 10px
}

#scroller-header a:hover {
	text-decoration: none;
	color: #ad3b37;
	background: #fff
}

a.selected {
	text-decoration: none !important;
	color: #ad3b37 !important;
	background: #fff
}

#scroller-header {
	background: #f0f0f0;
	width: 530px;
	height: 30px;
	padding-top: 10px;
	margin-top: 15px;
	padding-left: 5px
}

#scroller-body {
	background: #fff;
	width: 530px;
	height: auto;
	padding-bottom: 30px;
	overflow: hidden
}

#mask {
	width: 100%;
	overflow: hidden !important
}

#panel {
	margin-left: 0;
	overflow: hidden
}

#panel div {
	float: left;
	overflow: hidden
}

#panel ul {
	list-style: none;
	overflow: hidden;
	margin: 0 5px;
	padding: 0
}

#panel ul li {
	color: #557482;
	width: 85px;
	height: 85px;
	float: left;
	border: 1px solid #ccc;
	background-color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	margin: 10px 10px 0 0;
	padding: 2px
}

#panel ul li.last {
	border-bottom: none !important
}

#container {
	background: #FFF;
	margin-bottom: 20px;
	width: 450px;
	border: #d2d2d2 solid 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin-left: 10px;
	min-height: 560px;
	padding: 10px
}

.heart {
	float: left;
	width: 38px;
	height: 29px;
	background: url(../images/heart.png) no-repeat;
	text-align: center;
	text-decoration: none;
	padding-top: 5px;
	margin: 0 10px
}

.share {
	float: left;
	width: 89px;
	height: 33px;
	cursor: pointer;
	position: relative;
	z-index: 100
}

.buy_it {
	float: left;
	position: relative;
	z-index: 100;
	padding-left: 5px;
}

.in {
	float: left;
	width: 41px;
	height: 51px;
	margin-left: 10px;
	background: url(../images/in.png) no-repeat;
	margin-top: 2px
}

.out {
	float: left;
	width: 41px;
	margin-left: 10px;
	height: 51px;
	margin-top: 2px;
	background: url(../images/out.png) no-repeat
}

.whtever {
	float: left;
	width: 50px;
	height: 51px;
	margin-left: 20px;
	margin-top: 2px;
	background: url(../images/whtever.png) no-repeat
}

.full {
	float: left;
	width: 535px;
	height: auto;
	margin-top: 10px
}

.user {
	float: left !important;
	width: 85px !important;
	height: 85px !important;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 10px 10px 0 0
}

.up {
	float: left !important;
	width: auto !important;
	height: 18px;
	background: url(../images/thumb_up.png) no-repeat;
	text-indent: 25px;
	margin-right: 20px
}

.down {
	float: left !important;
	width: auto !important;
	height: 18px;
	background: url(../images/thumb_down.png) no-repeat;
	text-indent: 25px;
	margin-right: 20px
}

.delete {
	float: right !important;
	width: 18px !important;
	height: 18px;
	background: url(../images/delete.png) no-repeat;
	position: relative;
	z-index: 10000
}

.cont {
	float: left !important;
	width: 325px !important;
	height: 45px !important;
	margin-bottom: 10px
}

.vote {
	float: left !important;
	width: auto !important;
	height: 18px;
	margin-right: 20px
}

.page-8detail {
	background-color: #ededed;
	border-radius: 3px 3px 3px 3px;
	clear: both;
	height: 27px;
	width: 440px;
	overflow: hidden;
	margin: auto auto 5px;
	padding: 0 0 0 10px
}

.plus-icon {
	float: right;
	width: 36px;
	height: 25px;
	border: #d2d2d2 solid 1px;
	background: url(../images/plus.jpg) no-repeat
}

.plus-icon:hover {
	background: url(../images/plus_hover.jpg) no-repeat
}

.min-icon {
	float: right;
	width: 36px;
	height: 25px;
	border: #d2d2d2 solid 1px;
	background: url(../images/min.jpg) no-repeat
}

.min-icon:hover {
	background: url(../images/min_hover.jpg) no-repeat
}

.plus_head {
	float: left;
	width: auto;
	height: 22px;
	margin-top: 5px
}

.page_8_middel {
	float: left;
	height: auto;
	margin: 5px 0 0
}

.page_8user {
	float: left;
	height: 147px;
	width: 150px;
	margin-right: 5px;
	position: relative;
	margin-bottom: 10px;
}

.flag_user {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 20px;
    margin-left: 320px;
    opacity: 0.5;
    padding: 0 10px;
    position: absolute;
    top: 19px;
    vertical-align: middle;
    width: 107px;
}

.page_user_right {
	float: right;
	width: 120px;
	height: auto
}

.page_8_white_box,.page_8_gry_box {
	float: left;
	width: 110px;
	height: auto;
	margin-bottom: 2px;
	border: 1px solid #c9c9c9;
	color: #414141;
	font-size: 13px;
	padding: 3px 7px
}

.page_8_white_box span,.page_8_gry_box span {
	width: 60px;
	display: inline-block;
	float: left
}

.page_8_gry_box {
	background: #ededed
}

.page_8_sky_b {
	background: url(../images/sky-b.jpg) repeat-x;
	border: 1px solid #086c9d;
	border-radius: 5px 5px 5px 5px;
	float: left;
	height: auto;
	width: 123px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	padding: 6px 0
}

.page_8_sky_b:hover {
	background: url(../images/sky-b-hover.jpg) repeat-x
}

.bio_data_tax {
	float: left;
	width: 260px !important;
	border: 1px solid #c9c9c9;
	height: 125px;
	padding: 7px
}

.bio_right_table {
	float: right;
	width: 160px;
	height: auto;
	border: 1px solid #c9c9c9
}

.gry_td {
	background: #ededed;
	color: #414141;
	font-size: 12px;
	padding: 5px
}

.white_td {
	background: #fff;
	color: #414141;
	font-size: 12px;
	padding: 5px
}

.tp {
	width: 425px;
	height: 95px;
	top: 0;
	position: relative
}

.tp>img {
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	height: 85px !important;
	width: 85px !important;
	left: 0 !important;
	position: absolute;
	top: 0;
	margin: 10px 10px 0 0
}

.user_cont {
	width: 325px !important;
	height: 75px !important;
	background: #f2f2f2;
	border: #eaeaea solid 1px;
	position: absolute;
	top: 10px;
	right: -3px;
	padding: 5px
}

#shareit-box {
	display: none;
	z-index: 10000;
	position: absolute;
	top: 15px !important;
	left: -50px !important
}

#shareit-header {
	width: 138px
}

#shareit-body {
	width: 182px;
	height: 59px;
	background: url(../images/shareit.png) no-repeat
}

#shareit-blank {
	height: 20px
}

#shareit-url {
	height: 50px;
	text-align: center
}

#shareit-icon {
	width: 78px;
	display: none
}

#shareit-icon ul {
	list-style: none;
	width: 70px;
	margin: 0;
	padding: 0 0 0 8px
}

#shareit-icon ul li {
	padding: 0 2px
}

#fave_button .btn_txt {
	font-weight: none;
	font-size: 12px;
}

.chat_main {
	width: 450px;
	margin-bottom: 10px
}

.chat_send textarea {
	width: 366px
}

.chat_icon {
	float: left;
	width: 30px;
	height: 33px;
	margin: 0 10px;
	position: relative;
}

.chat_txt {
	float: left;
	width: 375px;
	height: auto;
	background: #ededed;
	border: #d8d8d8 solid 1px;
	padding: 5px
}

.chat_txt1 {
	float: left;
	width: 385px;
	height: auto;
	background: #fff;
	border: #d8d8d8 solid 1px;
	padding: 5px
}

.chat_send {
	float: left;
	width: 450px;
	height: auto;
	background: #ededed;
	border: #d8d8d8 solid 1px
}

.devider {
	float: left;
	width: 535px;
	height: 1px;
	background: #d8d8d8;
	margin: 10px 0
}

.send_btn {
	float: left;
	width: auto;
	height: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(../images/send.jpg) repeat-x;
	text-align: center;
	text-decoration: none;
	color: #fff;
	min-width: 45px;
	margin: 2px 0 0 6px;
	padding: 12px 10px
}

.send_btn:hover {
	background: url(../images/send_hover.jpg) repeat-x
}

.chat {
	border: 0;
	background: 0;
	float: left;
	padding: 5px
}

.time {
	margin: 0 10px 0 0
}

.clear {
	clear: both !important;
	float: none
}

.spacer {
	clear: both !important;
	float: none;
	height: 10px
}

form input.small {
	background: url(../images/input-small.png) no-repeat;
	width: 77px;
	float: left;
	margin-right: 5px
}

form input.very_small {
	background: url(../images/input-very-small.png) no-repeat;
	width: 40px;
	float: left;
	margin-right: 5px
}

.right_link {
	float: right;
	position: relative;
	top: 5px
}

a.right_link {
	color: inherit;
	text-decoration: underline
}

.field_error ul li {
	line-height: 20px
}

.right-panel h2 {
	float: left
}

.right-panel a {
	color: inherit
}

.profile_info {
	float: left;
	margin-left: 5px;
	width: 123px
}

.profile_info .user_name {
	font-size: 12px;
	font-weight: 700
}

.profile_info .detail {
	font-size: 11px;
	line-height: 15px
}

.full_width {
	width: auto !important;
	float: none !important
}

.my_recent_Drobes a {
	margin: 4px
}

.profile_detail {
	float: left;
	width: 165px;
	font-size: 15px
}

.your_rate .msg {
	font-size: 15px
}

.your_rate .no_comment {
	margin-top: 2px;
	margin-left: 60px;
	color: #666;
	font-size: 15px;
	width: 290px;
	height: 45px;
	line-height: 13px;
	overflow: hidden
}

.your_rate .comment {
	margin-top: 2px;
	margin-left: 60px;
	color: #666;
	font-size: 12px;
	width: 290px;
	height: 45px;
	line-height: 13px;
	overflow: hidden
}

#next_drobe {
	background: url(../images/next_arrow.png) no-repeat scroll right center
		transparent;
	float: right;
	font-size: 25px;
	line-height: 38px;
	color: #adadad;
	cursor: pointer;
	padding-right: 40px;
	position: relative;
	top: -36px
}

#next_drobe:hover {
	color: #333
}

#my_followers {
	height: 535px;
	position: relative
}

#my_followers a {
	margin: 3px
}

#my_followers .details1 a {
	position: relative;
	top: -5px;
	color: inherit;
	text-decoration: underline
}

#my_followers .details1 a.follower_name {
	float: left;
	font-size: larger
}

#file_uploader, #sell_drobe_file_uploader {
	cursor: pointer;
	position: relative;
	margin-bottom: 5px
}

#file_uploader .drobe_upload_msg,
#sell_drobe_file_uploader .drobe_upload_msg,
#file_uploader .uploadify {
	width: 436px;
	color: #fff;
	float: left;
	font-size: 25px;
	left: 2px;
	line-height: 50px;
	position: absolute;
	z-index: 1;
	-ms-filter: alpha(opacity =   20);
	filter: alpha(opacity =   20);
	-khtml-opacity: .2;
	-moz-opacity: .2;
	opacity: .2;
	top: 200px;
	background-color: #000;
	border-radius: 5px;
	padding: 0 5px
}

.drobe_upload_msg .qq-upload-button>span.message {
	background-color: #000;
	border-radius: 10px 10px 10px 10px;
	color: #fff;
	float: left;
	font-size: 25px;
	left: 2px;
	line-height: 50px;
	width: 442px;
	margin-top: 200px;
	position: absolute
}

.drobe_preview,.sell_drobe_preview 
{
	display: none;
	position: relative;
	width: 450px
}

#clear_preview, #sell_drobe_clear_preview  {
	position: absolute;
	float: right;
	color: #aaa;
	z-index: 1000;
	text-decoration: none;
	top: 1px;
	right: -1px;
	font-size: 9px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	cursor: pointer;
	margin: 0;
	padding: 0 5px
}

.drobe_preview .big-img {
	float: left;
	overflow: hidden;
	width: 450px;
	margin: 0;
	padding: 0
}

.more_options>div>div {
	float: left;
	width: 120px
}

.drobe_uploaded {
	font-size: 15px;
	text-align: center
}

.drobe_uploaded .blue_btn {
	text-align: center;
	color: #fff;
	float: none;
	padding: 4px 10px
}

.drobe_uploaded .right {
	margin: 0
}

.drobe_uploaded .big-img {

}

#drobe_comment {
	border: 1px solid #adadad;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 40px;
	resize: none;
	width: 270px;
	padding: 2px
}

.filter_drobe {
	position: relative;
	float: right;
	right: 0
}

.filter_drobe #stream_button {
	background: #4a91d3;
	background-image: 0;
	position: relative;
	z-index: 1000;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
	float: right;
	width: auto;
	border-color: #3a76ad;
	margin: 0;
	padding: 0 10px !important
}

.filter_drobe #stream_button a.badges {
	top: -8px;
	right: -8px
}

.filter_drobe .stream_button:hover {
	cursor: pointer !important
}

.filter_drobe .filter_input {
	display: none;
	position: absolute;
	width: 430px;
	float: right;
	background: #fff;
	border: solid 1px #aaa;
	z-index: 999;
	right: 0;
	top: 15px;
	padding: 10px
}

.drobe_sale_popup {
	/* position: absolute; */
	width: 440px;
	float: right;
	background: #fff;
	/* border: solid 1px #aaa; */
	/* z-index: 10000; */
	right: -2px;
	bottom: -20px;
	padding: 10px;
	-moz-box-shadow: 0 0 3px 1px #ccc;
	-webkit-box-shadow: 0 0 3px 1px #ccc;
	/* box-shadow: 0 0 3px 1px #ccc */
}

.drobe_sale_popup button {
	float: right
}

.drobe_sale_popup .half {
	width: 48%
}

.drobe_sale_popup .right {
	margin: 0
}

.drobe_sale_popup input[type="text"],.drobe_sale_popup select,.drobe_sale_popup textarea
	{
	clear: both;
	font-size: 100%;
	width: 205px;
	background: none !important;
	border: 1px solid #aaa;
	color: #000;
	-moz-box-shadow: 0 0 3px 1px #ccc;
	-webkit-box-shadow: 0 0 3px 1px #ccc;
	box-shadow: 0 0 3px 1px #ccc;
	resize: none;
	padding: 5px
}

.drobe_sale_popup select {
/* 	width: 215px */
}

.drobe_sale_popup #apply_sale_drobe {
	color: #fff;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0;
	padding: 0;
	width: 90px;
	float: right
}

.drobe_sale_popup #close_sale_popup {
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0px 0px 0px 10px;
	padding: 0px 10px;
	float: right;
}

.drobe_sale_popup .drobe_description {
	width: 195px;
	margin-right: 10px
}
.editSellDrobeLeft{
	width: 53% !important;
}
.editSellDrobeLeft img{
	width: 350px !important;	
}
.drobe_sale_popup .drobe_description textarea {
	width: 100%;
	height: 285px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.filter_drobe .red_btn {
	float: right;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 1000;
	margin: 0;
	padding: 0 5px
}

.filter_drobe .categories .list {
	width: 140px;
	float: left
}

.filter_drobe  .sizes .list {
	width: 70px;
	float: left;
}

.size_list{
	padding: 0px;
	margin-top: 0px;
}

.filter_drobe  .brands .list {
	width: 140px;
	float: left;
}
.brand_list{
	padding: 0px;
	margin-top: 0px;
}

.filter_drobe .prices .list{
	width: 105px;
	float: left;
}
.price_list{
	padding: 0px;
	margin-top: 0px;
}
.TabbedPanelsFilter {
	/*position: relative;
	clear: none;
	height: 90%;
	margin: 10px 0 0;
	padding: 0;*/
	overflow: hidden;
}

.filter_drobe .blue_btn {
	color: #fff;
	float: right;
	margin-top: 13px;
	padding: 3px 10px
}

#rate_drobe_block {
	position: absolute;
	top: 10px
}

#edit_profile .profile_detail {
	width: 260px;
	font-size: 12px;
	margin-left: 20px
}

#edit_profile .profile_detail>label {
	font-weight: 700;
	padding: 5px 0
}

#edit_profile .profile_detail textarea {
	width: 100%;
	border: 1px #aaa solid;
	resize: none;
	padding: 3px
}

#edit_profile #change_picture {
	color: #316ccc;
	font-size: 11px;
	line-height: 15px !important;
	text-align: center;
	display: block;
	width: 150px
}

#edit_profile #profile_image {
	border: 2px #dedede solid
}

#edit_profile .green_btn,#edit_profile .blue_btn {
	color: #fff;
	margin: 10px 0 !important;
	padding: 3px 10px
}

#edit_profile .blue_btn {
	width: 130px !important;
	margin: 3px 0 !important
}

input.green_btn,input.red_btn {
	margin: 5px 5px 0 0 !important
}

.share_btn {
 	float: left;
    font-family: "Trebuchet MS";
    font-size: 14px;
    height: 20px;
    padding: 9px 10px;
    width: auto;
  }  

#fb_connect.connected{
	background : url('../images/fb_selected.png') no-repeat;
}
#fb_connect.disconnected{
	background : url('../images/fb_unselected.png') no-repeat;
}

#tw_connect.connected{
	background : url('../images/tw_selected.png') no-repeat;
}
#tw_connect.disconnected{
	background : url('../images/tw_unselected.png') no-repeat;
}


#fb_connect_sell.connected{
	background : url('../images/fb_selected.png') no-repeat;
}
#fb_connect_sell.disconnected{
	background : url('../images/fb_unselected.png') no-repeat;
}

#tw_connect_sell.connected{
	background : url('../images/tw_selected.png') no-repeat;
}
#tw_connect_sell.disconnected{
	background : url('../images/tw_unselected.png') no-repeat;
}
.share_btn a{
	float: left;
    height: 35px;
    margin: 0 5px;
    width: 35px;
}

.drobe_big_img {
	margin-top: 0;
	position: relative
}

.confirm_popup {
	display: none;
	border: 5px solid;
	background: #fff;
	border-color: rgba(0, 0, 0, 0.5);
	padding: 10px
}

#btn_close_chatting {
	float: right;
	color: #fff;
	margin: 0 !important;
	padding: 3px 10px !important
}

#chat_area {
	height: 200px;
	overflow: auto;
	position: relative
}

.badges {
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	background: 0 to(#f00) );
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	border: 2px solid #fff;
	-moz-box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(255, 255, 255, 0);
	-webkit-box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(255, 255, 255, 0);
	box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(255, 255, 255, 0);
	text-shadow: 0 0 0 rgba(000, 000, 000, 0.4), 0 1px 0
		rgba(255, 255, 255, 0.3);
	position: absolute;
	float: left;
	right: 2px;
	top: 13px;
	z-index: 1;
	padding: 0 2px;
	background: #f00
}

#rate_drobe_block .big-txt {
	font-size: 16px !important;
	line-height: 20px;
	display: block;
	margin: 5px 0
}

.rate_response {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	height: 95px;
	box-shadow: 1px 1px 5px #000000;
	color: #DDDCDB;
	font-size: 35px;
	left: 30px;
	padding: 130px 50px;
	position: absolute;
	right: 30px;
	text-shadow: 1px 1px #000000;
	top: 95px;
	z-index: 100000;
}

.rate_response .in,.rate_response .out {
	margin-right: 10px;
}

.rate_response .current {
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px
}

.rate_response .half_left {
	float: left;
	width: 45%;
	text-align: right
}

.rate_response .half_right {
	float: right;
	width: 45%;
	text-align: left
}

.user_rate {
	background: #f2f2f2;
	border: #eaeaea 1px solid;
	position: relative;
	padding: 2px
}

.user_rate .rate {
	float: left;
	width: 30px;
	height: 30px;
	background: #000
}

.user_rate .profile_photo {
	float: left;
	border: 1px solid #fff;
	margin: 2px 2px 2px 5px;
	position: relative;
}

.tp .user_info {
	color: #000;
	margin-left: 5px;
	line-height: 15px
}

.tp .user_info a {
	font-size: 14px;
	text-decoration: underline;
	color: inherit;
	line-height: 17px
}

.tp .conversation,.user_rate .conversation {
	float: right;
	text-align: right;
	position: absolute;
	right: 5px;
	top: 5px
}

.received_result .conversation {
	top: 15px !important
}

a.reply_btn {
	
	font-size: 12px;
	float: right;
	margin: -3px -2px;
	padding: 0 3px
}

.tp .badges,.user_rate .badges {
	position: relative;
	float: right;
	width: 10px;
	text-align: center;
	top: -2px
}

.user_rate .comment {
	background: url(../images/user_comment.gif) no-repeat left;
	padding-left: 25px;
	margin-left: 10px;
	font-size: 12px;
	line-height: 18px
}

.tp .reward_button,.user_rate .reward_button {
	display: block;
	float: right;
	cursor: pointer;
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: url(../img/stars.png) left top no-repeat;
	width: 20px;
	height: 20px
}

.tp .rewarded,.user_rate .rewarded {
	background: url(../img/stars.png) left bottom no-repeat
}

.tp .response_text {
	font-size: 12px;
	padding-left: 35px;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
	position: relative;
	top: -7px
}

.tp_big {
	width: 447px
}

.tp_big .user_cont,.tp_big .cont {
	width: 345px !important
}

#btn_close_conversation {
	color: #fff;
	float: right;
	margin: 3px 10px
}

.bio_data_tax pre {
	width: 200px;
	display: inline;
	margin: 0;
	padding: 0
}

.my_recent_Drobes {
	margin: 0 0 0 20px
}

#my_drobes {
	height: 185px
}

#most_recent_area,#heighest_rated_area,#most_viewed_area,#featured_area
	{
	height: 475px;
	overflow: auto;
	margin-left: 10px
}

.TabbedPanels {
	position: relative;
	overflow: hidden;
	clear: none;
	width: 450px;
	height: 90%;
	margin: 10px 0 0;
	padding: 0
}

.infiniteScrollLoading {
	float: left;
	background: rgba(0, 0, 0, 0.7);
	border: 2px solid #fff;
	color: #fff;
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 100000;
	display: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 8px #909090;
	-webkit-box-shadow: 0 0 8px #909090;
	box-shadow: 0 0 8px #909090;
	padding: 10px
}

#user_login_block {
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 432px;
	display: none;
	float: left;
	position: absolute;
	z-index: 9999;
	background: #fff;
	padding: 0 10px
}

#user_login_block .facebook_login_info {
	background: url(../images/facebook_arrow.png) right no-repeat;
	height: 50px;
	margin: 10px;
	padding: 5px 30px 5px 10px
}

#user_login_block .gmail_login_info {
	background: url(../images/gmail_arrow.png) right no-repeat;
	height: 50px;
	margin: 20px 10px 10px;
	padding: 5px 30px 5px 10px
}

#user_login_block .normal_login_info {
	background: url(../images/normal_arrow.png) right no-repeat;
	height: 160px;
	margin: 20px 10px 10px;
	padding: 5px 30px 5px 10px
}

#user_login_block .register_login_info {
	background: url(../images/register_arrow.png) right no-repeat;
	height: 60px;
	margin: 20px 10px 10px;
	padding: 5px 30px 5px 10px
}

.login_info p {
	font-size: 14px;
	line-height: 20px
}

.normal_login_info p {
	margin-top: 50px
}

.feedback_area {
	height: 490px
}

.conversations_area {
	height: 305px;
	overflow: auto
}

.chatting_area {
	height: 450px;
	overflow: auto
}

.drobe_result_area {
	height: 420px
}

.drobe_result_area .user_rates {
	width: 430px
}

.ui-tooltip-dialogue {
	max-width: 420px;
	min-width: 210px;
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5)
}

.ui-tooltip-dialogue .ui-tooltip-content {
	padding: 10px
}

.ui-tooltip-dialogue button {
	float: left;
	width: 47%;
	margin-right: 10px;
	text-align: center;
	font-size: 10.5px;
	padding: 3px 0
}

.ui-tooltip-dialogue button+button {
	float: right;
	margin-right: 0
}

.ui-tooltip-dialogue input {
	width: 95%;
	margin-bottom: 7px;
	font-size: 10.5px;
	padding: 3px 0 3px 5px
}

.ui-tooltip-dialogue button.full {
	float: none;
	width: 100%
}

.page_user_right .red_btn,.page_user_right .green_btn {
	color: #FFF;
	cursor: pointer;
	width: 108px;
	font-weight: 700;
	margin: 0;
	padding: 6px
}

.page_user_right .red_btn {
	background: url(../images/red.jpg) repeat-x
}

.page_user_right .green_btn {
	background: url(../images/green.jpg) repeat-x
}

img.lazy {
	background: url(../images/loading.gif) no-repeat center center
		transparent;
	visibility: hidden
}

.gplus_share,.fb_like {
	width: 50px;
	height: 25px;
	overflow: hidden !important
}

.gplus_share {
	width: 60px;
	height: 27px;
	margin-top: 5px;
}

.fb_like iframe,.fb_like span {
	width: 50px important;
	overflow: hidden !important
}

.share-popup {
	border-radius: 5px !important;
	border: 3px solid #ccc !important;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15) !important;
	padding: 5px 0 !important
}

.share-popup .ui-tooltip-content {
	padding: 5px !important
}

input#tmp_file {
	height: 50px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 100px;
	z-index: 2;
	opacity: .0;
	filter: alpha(opacity =   0);
	-ms-filter: alpha(opacity =   0);
	-khtml-opacity: .0;
	-moz-opacity: .0
}

.drobe_comment {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	border-radius: 2px 2px 0 0;
	top: 0;
	position: absolute;
	width: 440px;
	z-index: 900;
	color: #fff;
	text-align: left;
	font-size: 14px;
	padding: 10px 5px
}

.drobe_comment .comment {
	width: 390px;
	clear: none
}

.flag_drobe {
	display: none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	border-radius: 0 0 2px 2px;
	bottom: 0;
	line-height: 40px;
	position: absolute;
	text-align: right;
	width: 430px;
	z-index: 1000;
	padding: 0 10px
}

.flag_drobe .summary {
	margin-left: 110px;
	float: left;
	color: #fff;
	font-weight: 700
}

.flag_drobe a,.drobe_comment a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	float: right;
	clear: none
}

.flag_form {
	display: none;
	width: 280px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	border: 2px solid #fff;
	border-radius: 5px;
	text-align: left;
	padding: 2px 10px
}

.flag_form h2 {
	color: #fff;
	margin: 0;
	padding: 0
}

.flag_form select {
	width: 275px
}

.big-tip {
	font-size: 14px !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #fff !important;
	-moz-box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(255, 255, 255, 0);
	-webkit-box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(255, 255, 255, 0);
	box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(255, 255, 255, 0);
	padding: 5px
}

#sell_drobe_comment,#DrobeComment {
	border: 1px solid #adadad;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	height: 40px;
	resize: none;
	width: 445px;
	padding: 2px
}

.content_page {
	width: 820px !important;
	font-size: 11px;
	margin: 0 !important;
	padding: 40px !important
}

.content_page h1,.content_page h2,.content_page h3,.content_page h4,.content_page h5
	{
	margin: 5px 0 0
}

.content_page h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 7px
}

.content_page h3 {
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 7px
}

.content_page h4 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 7px
}

.content_page h5 {
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 7px
}

.content_page p {
	line-height: 1.2em;
	margin: 0 0 16px
}

.content_page hr {
	border: #ededed 1px solid;
	margin: 5px 0 10px
}

.content_page ul,.content_page ol {
	margin: 0 0 .6em 25px;
	padding: 0
}

.content_page a,.content_page a:visited,.content_page a:hover {
	color: #2180cc;
	text-decoration: none
}

#following_list .details1 .badges {
	float: left;
	position: static;
	margin: 0 0 0 10px
}

.left-navi-in .badges,.TabbedPanelsTab .badges {
	float: none;
	display: inline;
	position: static;
	margin: 0 0 0 5px
}

#following_list .details1 .badges a,.left-navi-in .badges a,.TabbedPanelsTab .badges a
	{
	text-decoration: none;
	position: static;
	margin: 0 2px
}

.user_cont .cont .user_comment {
	max-height: 32px;
	width: 300px;
	font-size: 12px;
	line-height: 15px;
	overflow: hidden
}

#gave_feedback .user_cont .cont .drobe_title {
	margin-top: 5px;
	max-height: 15px;
	width: 300px;
	font-size: 12px;
	line-height: 15px;
	overflow: hidden;
	display: block
}

form#contact_form {
	clear: both;
	margin-right: 20px;
	width: 95%;
	padding: 0
}

form#contact_form div {
	clear: both;
	margin-bottom: .1em;
	vertical-align: text-top;
	padding: .0em .5em
}

form#contact_form .input {
	color: #444
}

form#contact_form .required label:after {
	color: #e32;
	content: '*';
	display: inline
}

form#contact_form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px
}

form#contact_form label {
	display: block;
	font-size: 110%;
	margin-bottom: 3px
}

form#contact_form>div>input,form#contact_form div>textarea {
	clear: both;
	font-size: 100%;
	width: 98%;
	background: none !important;
	border: 1px solid #aaa;
	color: #000;
	-moz-box-shadow: 0 0 3px 1px #ccc;
	-webkit-box-shadow: 0 0 3px 1px #ccc;
	box-shadow: 0 0 3px 1px #ccc;
	resize: none;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 5px
}

form#contact_form div>textarea {
	height: 80px
}

form#contact_form select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom
}

form#contact_form select[multiple=multiple] {
	width: 100%
}

form#contact_form option {
	font-size: 120%;
	padding: 0 3px
}

form#contact_form input[type=checkbox] {
	clear: left;
	float: left;
	width: auto;
	margin: 0 6px 7px 2px
}

form#contact_form div.checkbox label {
	display: inline
}

form#contact_form input[type=radio] {
	float: left;
	width: auto;
	line-height: 26px;
	margin: 6px 0;
	padding: 0
}

form#contact_form .radio label {
	line-height: 26px;
	margin: 0 0 6px 20px
}

form#contact_form input[type=submit] {
	font-size: 14px;
	color: #fff;
	background: 0 color-stop(0.68, #8dc647), to(#8ec626) );
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #74a21f;
	-moz-box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(133, 040, 111, 1);
	-webkit-box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(133, 040, 111, 1);
	box-shadow: 0 0 3px rgba(000, 000, 000, 0.5), inset 0 0 0
		rgba(133, 040, 111, 1);
	text-shadow: 1px -1px 1px rgba(000, 000, 000, 0.4), 0 1px 0
		rgba(255, 255, 255, 1);
	padding: 7px 12px;
	background-color: #8fbc29
}

form#contact_form input[type=submit]:hover {
	background: 0 color-stop(0.68, #8dc647), to(#b8da78) );
	cursor: pointer
}

form#contact_form .error {
	background: #ffdacc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: 400
}

form#contact_form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: 0;
	background: 0;
	padding-left: 4px;
	padding-right: 0;
	margin: 0
}

form#contact_form .error,form#contact_form .error-message {
	color: #9e2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none
}

div.success {
	background: #e1fcb8;
	border: solid 1px #617a32;
	border-left: none;
	border-right: 0;
	margin: 5px 0;
	padding: 5px
}

.search_input {
	clear: both;
	font-size: 100%;
	width: 360px;
	background: url(../images/icon7.png) no-repeat 375px 5px #fff !important;
	border: 1px solid #aaa;
	color: #a8a8a8;
	-moz-box-shadow: 0 0 3px 1px #ccc;
	-webkit-box-shadow: 0 0 3px 1px #ccc;
	box-shadow: 0 0 3px 1px #ccc;
	resize: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 30px 5px 10px
}

a.fb_link_btn {
	-moz-user-select: none;
	border: 1px solid #082783;
	box-shadow: 0 1px #4c6bc7 inset;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 -1px 0 #082783;
	font: 12px Verdana, sans-serif;
	display: block;
	float: left;
	background: url(../images/facebook_white_icon.png) no-repeat 10px 5px
		#2a49a5 !important;
	line-height: 20px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 3px 5px 3px 30px
}

a.tw_link_btn {
	-moz-user-select: none;
	border: 1px solid #057ed0;
	box-shadow: 0 1px #48bfea inset;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font: 12px Verdana, sans-serif;
	display: block;
	float: left;
	background: url(../images/twitter_white_icon.png) no-repeat 5px 5px
		#019ad2 !important;
	line-height: 20px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 3px 5px 3px 30px
}

a.fb_link_btn,a.tw_link_btn {
	width: 180px;
	margin-right: 5px
}

.connection_info {
	float: left;
	border: 2px solid #ededed;
	margin: 5px;
	padding: 5px
}

.connection_info .not_connected {
	float: left;
	line-height: 30px;
	width: 200px
}

.jcrop-vline {
	height: 100%;
	width: 1px !important;
	margin: 0 !important;
	padding: 0 !important
}

#most_recent,#heighest_rated,#most_viewed,#featured {
	background: none repeat scroll 0 0 transparent;
	font-family: HoeflerText;
	height: 100%;
	overflow: auto;
	position: relative;
	width: 100%
}

#most_recent a.drobe_thumb,#heighest_rated a.drobe_thumb,#most_viewed a.drobe_thumb,#featured a.drobe_thumb,#drobe_list a.drobe_thumb,#drobe_list a.drobe_thumb
	{
	display: block;
	float: left;
	width: 134px !important;
	height: 135px !important;
	overflow: hidden;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	color: #adadad;
	margin: 5px 5px 0 0;
	position: relative;
}

a.drobe_thumb img {
	width: 135px !important;
	height: 135px !important;
	border: 0
}

.sell_drobe_detail{
	background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 20px;
    opacity: 0.6;
    padding-left: 2px;
    position: absolute;
    text-align: left;
    width: 135px;
    height: 20px;
}

.size_detail
{
	display: block;
    float: left;
    max-width: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}
.price_detail
{
	display: block;
    float: left;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sell_drobe_detail .buy_btn{
  	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    color: #000000;
    float: right;
    font-size: 10px;
    line-height: 15px;
    margin: 3px 4px;
    padding: 0 4px;
}

.sell_drobe_detail .buy_btn:hover{
	background: none repeat scroll 0 0 #9f9f9f;
}
.empty_message {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666
}

.testi-txt,.drobe_comment,.user_comment,.response_text,.comment,.chat_txt,.chat_txt1,.bio_data_tax,td,td *
	{
	word-wrap: break-word
}

.TabbedPanelsTabGroup,.TabbedPanelsTabGroupFilter {
	margin: 0;
	padding: 0
}

.TabbedPanelsTab,.TabbedPanelsTabFilter  {
	position: relative;
	top: 1px;
	float: left;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	margin: 0 10px 0 0;
	padding: 4px 10px
}

.TabbedPanelsTab a {
	color: #000;
	text-decoration: none
}

.TabbedPanelsContentGroup,.TabbedPanelsContentGroupFilter  {
	clear: both;
	border-top: solid 1px #d3d3d3;
	height: 98%
}

.TabbedPanelsContent {
	overflow: hidden;
	height: 98%;
	padding: 4px
}

.TabbedPanelsContentVisible {
	height: 98%
}

.VTabbedPanels {
	overflow: hidden;
	zoom: 1
}

.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC
}

.VTabbedPanels .TabbedPanelsTab {
	float: none;
	border-top: 0;
	border-left: none;
	border-right: 0;
	margin: 0
}

.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999
}

.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	width: 30em;
	height: 20em;
	padding: 0
}

.scrollgeneric {
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 0;
	right: 0 !important
}

.vscrollerbase {
	width: 5px;
	background: #d3d3d3
}

.vscrollerbar {
	width: 5px;
	height: 45px !important;
	background-image: url(../images/scrollbar.png)
}

* html .vscrollerbar {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,
		sizingMethod=cropsrc='../images/scrollbar.png' );
	background-image: none
}

.hscrollerbase {
	height: 22px
}

.hscrollerbar {
	height: 22px;
	background-color: #84add6
}

.vscrollerbar,.hscrollerbar {
	z-index: 2;
	padding: 0
}

.scrollerjogbox {
	width: 22px;
	height: 22px;
	top: auto;
	left: auto;
	bottom: 0;
	right: 0;
	background: #698aaa
}

.ui-tooltip,.qtip {
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 280px;
	/* min-width: 50px; */
	font-size: 10.5px;
	line-height: 12px;
	border-style: solid;
	border-width: 1px
}

.ui-tooltip-fluid {
	display: block;
	visibility: hidden;
	position: static !important;
	float: left !important
}

.ui-tooltip-content {
	position: relative;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
	padding: 5px 9px
}

.ui-tooltip-titlebar {
	position: relative;
	min-height: 14px;
	overflow: hidden;
	font-weight: 700;
	border-width: 0 0 1px;
	padding: 5px 35px 5px 10px
}

.ui-tooltip-titlebar+.ui-tooltip-content {
	border-top-width: 0 !important
}

.ui-tooltip-titlebar .ui-state-default {
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -9px;
	cursor: pointer;
	outline: medium none;
	border-style: solid;
	border-width: 1px
}

* html .ui-tooltip-titlebar .ui-state-default {
	top: 16px
}

.ui-tooltip-titlebar .ui-icon,.ui-tooltip-icon .ui-icon {
	display: block;
	text-indent: -1000em;
	direction: ltr
}

.ui-tooltip-icon,.ui-tooltip-icon .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none
}

.ui-tooltip-icon .ui-icon {
	width: 18px;
	height: 14px;
	text-align: center;
	text-indent: 0;
	font: normal bold 10px/13px Tahoma, sans-serif;
	color: inherit;
	background: transparent none no-repeat -100em -100em
}

.ui-tooltip-default {
	background-color: #ffffa3;
	color: #555;
	border-color: #f1d031
}

.ui-tooltip-default .ui-tooltip-titlebar {
	background-color: #ffef93
}

.ui-tooltip-default .ui-tooltip-icon {
	background: #f1f1f1;
	color: #777;
	border-color: #CCC
}

.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover {
	color: #111;
	border-color: #AAA
}

.ui-tooltip-light {
	background-color: #fff;
	color: #454545;
	border-color: #e2e2e2
}

.ui-tooltip-light .ui-tooltip-titlebar {
	background-color: #f1f1f1
}

.ui-tooltip-dark {
	background-color: #505050;
	color: #f3f3f3;
	border-color: #303030
}

.ui-tooltip-dark .ui-tooltip-titlebar {
	background-color: #404040
}

.ui-tooltip-dark .ui-tooltip-icon {
	border-color: #444
}

.ui-tooltip-cream {
	background-color: #fbf7aa;
	color: #a27d35;
	border-color: #f9e98e
}

.ui-tooltip-cream .ui-tooltip-titlebar {
	background-color: #f0de7d
}

.ui-tooltip-cream .ui-state-default .ui-tooltip-icon {
	background-position: -82px 0
}

.ui-tooltip-red {
	background-color: #f78b83;
	color: #912323;
	border-color: #d95252
}

.ui-tooltip-red .ui-tooltip-titlebar {
	background-color: #f06d65
}

.ui-tooltip-red .ui-state-default .ui-tooltip-icon {
	background-position: -102px 0
}

.ui-tooltip-green {
	background-color: #caed9e;
	color: #3f6219;
	border-color: #90d93f
}

.ui-tooltip-green .ui-tooltip-titlebar {
	background-color: #b0de78
}

.ui-tooltip-green .ui-state-default .ui-tooltip-icon {
	background-position: -42px 0
}

.ui-tooltip-blue {
	background-color: #e5f6fe;
	color: #5e99bd;
	border-color: #add9ed
}

.ui-tooltip-blue .ui-tooltip-titlebar {
	background-color: #d0e9f5
}

.ui-tooltip-blue .ui-state-default .ui-tooltip-icon {
	background-position: -2px 0
}

.ui-tooltip-shadow {
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15)
}

.ui-tooltip-rounded,.ui-tooltip-tipsy,.ui-tooltip-bootstrap {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.ui-tooltip-youtube {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	box-shadow: 0 0 3px #333;
	color: #fff;
	background: #4a4a4a;
	background-image: 0;
	border-width: 0
}

.ui-tooltip-youtube .ui-tooltip-titlebar {
	background-color: rgba(0, 0, 0, 0)
}

.ui-tooltip-youtube .ui-tooltip-content {
	font: 12px arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr=#4a4a4a, EndColorStr=#000000 );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);";
	padding: .75em
}

.ui-tooltip-youtube .ui-tooltip-icon {
	border-color: #222
}

.ui-tooltip-jtools {
	background: rgba(0, 0, 0, .7);
	background-image: 0;
	border: 2px solid rgba(241, 241, 241, 1);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 12px #333;
	-moz-box-shadow: 0 0 12px #333;
	box-shadow: 0 0 12px #333
}

.ui-tooltip-jtools .ui-tooltip-titlebar {
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,
		endColorstr=#4A4A4A );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A)"
}

.ui-tooltip-jtools .ui-tooltip-content {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,
		endColorstr=#232323 );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323)"
}

.ui-tooltip-jtools .ui-tooltip-titlebar,.ui-tooltip-jtools .ui-tooltip-content
	{
	background: transparent;
	color: #fff;
	border: 0 dashed transparent
}

.ui-tooltip-jtools .ui-tooltip-icon {
	border-color: #555
}

.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover {
	border-color: #333
}

.ui-tooltip-cluetip {
	-webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, .4);
	-moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, .4);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, .4);
	background-color: #d9d9c2;
	color: #111;
	border: 0 dashed transparent
}

.ui-tooltip-cluetip .ui-tooltip-titlebar {
	background-color: #87876a;
	color: #fff;
	border: 0 dashed transparent
}

.ui-tooltip-cluetip .ui-tooltip-icon {
	border-color: #808064
}

.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover {
	color: #696952;
	border-color: #696952
}

.ui-tooltip-tipsy {
	background: rgba(0, 0, 0, .87);
	color: #fff;
	border: 0 solid transparent;
	font-size: 11px;
	font-family: 'Lucida Grande', sans-serif;
	font-weight: 700;
	line-height: 16px;
	text-shadow: 0 1px #000
}

.ui-tooltip-tipsy .ui-tooltip-titlebar {
	background-color: transparent;
	padding: 6px 35px 0 10px
}

.ui-tooltip-tipsy .ui-tooltip-content {
	padding: 6px 10px
}

.ui-tooltip-tipsy .ui-tooltip-icon {
	text-shadow: none;
	border-color: #222
}

.ui-tooltip-tipped {
	border: 3px solid #959fa9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
	color: #454545;
	font-weight: 400;
	font-family: serif
}

.ui-tooltip-tipped .ui-tooltip-titlebar {
	border-bottom-width: 0;
	color: #fff;
	background: #3a79b8;
	background-image: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,
		endColorstr=#2E629D );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D)"
}

.ui-tooltip-tipped .ui-tooltip-icon {
	border: 2px solid #285589;
	background: #285589
}

.ui-tooltip-tipped .ui-tooltip-icon .ui-icon {
	background-color: #fbfbfb;
	color: #555
}

.ui-tooltip-bootstrap {
	font-size: 13px;
	line-height: 18px;
	color: #333;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .2);
	border-right-width: 2px;
	border-bottom-width: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box
}

.ui-tooltip-bootstrap .ui-tooltip-titlebar {
	font-size: 18px;
	line-height: 22px;
	border-bottom: 1px solid #ccc;
	background-color: transparent
}

.ui-tooltip-bootstrap .ui-tooltip-titlebar .ui-state-default {
	right: 9px;
	top: 49%;
	border-style: none
}

.ui-tooltip-bootstrap .ui-tooltip-icon {
	background: #fff
}

.ui-tooltip-bootstrap .ui-tooltip-icon .ui-icon {
	width: auto;
	height: auto;
	float: right;
	font-size: 20px;
	font-weight: 700;
	line-height: 18px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	filter: alpha(opacity =   20)
}

.ui-tooltip-bootstrap .ui-tooltip-icon .ui-icon:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .4;
	filter: alpha(opacity =   40)
}

.ui-tooltip:not (.ie9haxors ) div.ui-tooltip-content,.ui-tooltip:not (.ie9haxors
	) div.ui-tooltip-titlebar {
	filter: none;
	-ms-filter: none
}

.ui-tooltip .ui-tooltip-tip {
	overflow: hidden;
	z-index: 10;
	margin: 0 auto
}

.ui-tooltip .ui-tooltip-tip,.ui-tooltip .ui-tooltip-tip * {
	position: absolute;
	line-height: .1px !important;
	font-size: .1px !important;
	color: #123456;
	background: transparent;
	border: 0 dashed transparent
}

.ui-tooltip .ui-tooltip-tip canvas {
	top: 0;
	left: 0
}

#qtip-overlay {
	position: fixed;
	left: -10000em;
	top: -10000em
}

#qtip-overlay div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	filter: alpha(opacity =   70);
	-ms-filter: alpha(Opacity =   70)
}

.jcrop-holder {
	direction: ltr;
	text-align: left
}

.jcrop-vline,.jcrop-hline {
	background: #FFF url(Jcrop.gif) top left repeat;
	font-size: 0;
	position: absolute
}

.jcrop-hline {
	height: 1px !important;
	width: 100%
}

.jcrop-vline.right {
	right: 0
}

.jcrop-hline.bottom {
	bottom: 0
}

.jcrop-handle {
	background-color: #333;
	border: 1px #eee solid;
	font-size: 1px
}

.jcrop-tracker {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	height: 100%;
	width: 100%
}

.jcrop-handle.ord-n {
	left: 50%;
	margin-left: -4px;
	margin-top: -4px;
	top: 0
}

.jcrop-handle.ord-s {
	bottom: 0;
	left: 50%;
	margin-bottom: -4px;
	margin-left: -4px
}

.jcrop-handle.ord-e {
	margin-right: -4px;
	margin-top: -4px;
	right: 0;
	top: 50%
}

.jcrop-handle.ord-w {
	left: 0;
	margin-left: -4px;
	margin-top: -4px;
	top: 50%
}

.jcrop-handle.ord-nw {
	left: 0;
	margin-left: -4px;
	margin-top: -4px;
	top: 0
}

.jcrop-handle.ord-ne {
	margin-right: -4px;
	margin-top: -4px;
	right: 0;
	top: 0
}

.jcrop-handle.ord-se {
	bottom: 0;
	margin-bottom: -4px;
	margin-right: -4px;
	right: 0
}

.jcrop-handle.ord-sw {
	bottom: 0;
	left: 0;
	margin-bottom: -4px;
	margin-left: -4px
}

.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s {
	height: 7px;
	width: 100%
}

.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w {
	height: 100%;
	width: 7px
}

.jcrop-dragbar.ord-n {
	margin-top: -4px
}

.jcrop-dragbar.ord-s {
	bottom: 0;
	margin-bottom: -4px
}

.jcrop-dragbar.ord-e {
	margin-right: -4px;
	right: 0
}

.jcrop-dragbar.ord-w {
	margin-left: -4px
}

.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline {
	background: #FFF;
	filter: Alpha(opacity =   70) !important;
	opacity: .70 !important
}

.jcrop-light .jcrop-handle {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #000;
	border-radius: 3px;
	border-color: #FFF
}

.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline {
	background: #000;
	filter: Alpha(opacity =   70) !important;
	opacity: .7 !important
}

.jcrop-dark .jcrop-handle {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #FFF;
	border-radius: 3px;
	border-color: #000
}

.jcrop-holder img,img.jcrop-preview {
	max-width: none
}

.friend_btn {
	width: 215px !important;
	border: none !important;
	margin: 0;
	padding: 0
}

.friend_btn a.fb_link_btn,.friend_btn a.tw_link_btn {
	width: 175px
}

.friend .friend_list {
	margin-right: 8px
}

.friend .friend_list h2 {
	font-size: .7em
}

.friend {
	background-color: #f9f9f9;
	border-radius: 5px 5px 5px 5px;
	height: 35px;
	position: relative;
	width: 430px;
	margin-right: 10px;
	box-shadow: 0 0 1px #AAA;
	padding: 5px
}

.friend .photo {
	float: left;
	height: auto;
	width: 30px
}

.friend .name  {
	float: left;
	font-size: 16px;
	padding-left: 5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6)
}


.friend .action_btn a {
	text-decoration: none;
	background-color: #e4e4e4;
	background-image: 0;
	background-repeat: repeat-x;
	border: 1px solid #b9b9b9;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 #f8f8f8 inset;
	color: #505050;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-shadow: 0 1px 0 #FFF;
	padding: 8px 13px 9px;
	float: right
}

.friends {
	width: 455px;
	height: auto !important
}

.friends .details {
	width: 430px;
	height: auto
}

.friend .friends_detail {
	padding: 5px
}

.friends .search_input {
	width: 390px;
	background: url(../images/icon7.png) no-repeat scroll 400px 5px #FFF
		!important
}

.grey,.grey1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	text-decoration: none
}

.grey:hover,.green:hover {
	text-decoration: underline
}

.heart[disabled=disabled],.heart:hover {
	background: url(../images/heart-hover.png) no-repeat
}

.chat_right,#my_followers .details1 a.message_link,.filter_drobe .categories .list:even,.friend .action_btn
	{
	float: right
}

.hide,#close_drobe_id,#user_login_block .register_info,.qq-upload-list {
	display: none
}

a.right_link:hover,.tp .user_info a:hover {
	text-decoration: none
}

.field_error,.error {
	color: red
}

.popup_error {
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 5px #000000;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 30px;
	left: 30px;
	padding: 130px 20px;
	position: absolute;
	right: 30px;
	text-shadow: 1px 1px #000000;
	top: 95px;
	z-index: 100000;
}

.field_error ul,.error ul,.content_page ul {
	list-style: disc !important
}

.your_rate,#rate-drobe-container,.drobe_result,#following_list .details1
	{
	position: relative
}

input.green_btn,#clear_preview:hover {
	color: #fff
}

.more_options>label,form#contact_form .required {
	font-weight: 700
}

div.close_rate,.drobe_result,#qtip-overlay.blurs {
	cursor: pointer
}

.user_rate .rate_Cute,.tp .very_small_Cute {
	background: url(../images/small_rate.png) no-repeat left top
}

.user_rate .rate_Hot,.tp .very_small_Hot {
	background: url(../images/small_rate.png) no-repeat left center
}

.user_rate .rate_Skip,.tp .very_small_Skip {
	background: url(../images/small_rate.png) no-repeat left bottom
}

.TabbedPanelsTabHover,.TabbedPanelsTabSelected,.TabbedPanelsTabSelectedFilter {
	background-color: #EEE;
	border: 1px solid #d3d3d3
}

.ui-tooltip-dark .ui-tooltip-titlebar .ui-state-hover,.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover,.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover
	{
	border-color: #303030
}

.ui-tooltip-red .ui-tooltip-icon,.ui-tooltip-red .ui-tooltip-titlebar .ui-state-hover
	{
	border-color: #d95252
}

.search_image_popup {
	background-clip: padding-box;
	background-color: #E2E2E0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	left: 50%;
	max-height: 500px;
	overflow: auto;
	position: fixed;
	top: 50%;
	width: 560px;
	z-index: 1050;
	margin: -250px 0 0 -280px
}

.search_image_popup .modal-header-block {
	border-bottom: 1px solid #A6A6A6;
	border-radius: 6px 6px 0 0;
	padding: 6px 7px
}

.search_image_popup .modal-header-block .popup-header-block {
	font-size: 2.23077em;
	font-weight: normal;
	line-height: 1;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #566D78;
	margin: 0
}

.search_image_popup .modal-body-block {
	border-bottom: 1px solid #45601D;
	border-top: 1px solid #45601D
}

.search_image_popup .modal-body-block .google-image-query-block {
	padding: 6px
}

.search_image_popup .modal-body-block .google-image-query-block .form-row-block
	{
	display: table;
	width: 100%
}

.search_image_popup .modal-body-block .google-image-query-block .form-row-block #google-image-query-block
	{
	height: 26px;
	width: 79.704%
}

.search_image_popup .modal-body-block .google-image-query-block .form-row-block #search-images-block
	{
	height: auto !important;
	width: 18.222%;
	margin-left: 0;
	float: none;
	background-color: #DEEACC;
	background-repeat: repeat-x;
	border: 1px solid #B9B9B9;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	padding: 8px 13px 9px
}

.search_image_popup .modal-body-block #image-search-results-block {
	display: block;
	clear: both;
	min-height: 205px;
	padding: 0 5px 2px
}

.search_image_popup .modal-body-block #image-search-results-block>img {
	border: 1px solid #323232;
	cursor: pointer;
	display: block;
	float: left;
	height: 62px;
	margin-bottom: 4px;
	margin-left: 4px;
	width: 62px
}

.search_image_popup .modal-footer-block {
	clear: both;
	border-radius: 0 0 6px 6px;
	border-top: 1px solid #A6A6A6;
	margin-bottom: 0;
	padding: 19px 15px 15px
}

.blockUI {
	cursor: auto !important
}

.blockOverlay {
	background-color: #000
}

.search_image_popup .loader-bar {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 560px;
	height: 180px
}

.drobe_uploaded .right,.drobe_sale_popup .right {
	margin: 0
}

.drobe_sale_popup button,.chat_right,#my_followers .details1 a.message_link,.filter_drobe .categories .list:even,.friend .action_btn
	{
	float: right
}

.highest-rated-drobe {
	background-image: url("../images/reward_small.png");
	height: 20px;
	position: absolute;
	right: 0px;
	top: 3px;
	width: 20px;
}

.highest-rated-drobe-main {
	background-image: url("../images/rewarded.png");
	height: 64px;
	position: absolute;
	left: -10px;
	bottom: 0px;
	width: 64px;
}

.received_result .highest-rated-drobe,.given_result .highest-rated-drobe,.tp_big.drobe_result .highest-rated-drobe
	{
	left: 68px;
	top: 13px;
}

.facebook-share-button {
	background: url("../images/fbshare.png") no-repeat;
	height: 25px;
	width: 57px;
	display: block;
}

.tumblr-button {
	background-color: #334A60;
	background-image: -moz-linear-gradient(center top, #385774, #334A60);
	background-repeat: repeat-x;
	border-color: #334A60 #334A60 #2A3D4F;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	padding: 5px 6px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	width: 47px;
	text-align: center;
}

.pin-it-button img {
	height: 21px;
	width: 58px;
	margin-bottom: 4px;
}

.star-user {
	background-image: url("../images/star.png");
	height: 16px;
	position: absolute;
	right: 2px;
	top: 3px;
	width: 16px;
}

.star-user-small {
	background-image: url("../images/star-small.png");
	height: 8px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 8px;
}

.seller-pay-profile-pic {
	position: relative;
	float: left;
	margin-top: 10px;
}

.over .price {
	float: left;
    font-size: 16px;
    overflow: hidden;
    padding: 4px 0 0 4px;
    text-overflow: ellipsis;
    width: 45px;
}

.drobe_size{
	float: left;
    font-size: 15px;
    width: 60px;
    overflow: hidden;
    padding: 5px 0px;
    text-overflow: ellipsis;
}

.admin_container .qq-uploader .qq-upload-button input {
	font-size: 22px !important;
	width: 100%;
}

.admin_container .qq-uploader .qq-upload-button {
/* 	background: none repeat scroll 0 0 #CCCCCC; */
	border-radius: 10px;
	font-size: 15px;
	margin: 15px 0;
	padding: 7px 0;
	text-align: center;
	width: auto;
}

.admin_container .qq-uploader .qq-upload-drop-area {
	border: 2px dashed;
	border-radius: 10px;
	font-size: 15px;
	margin: 15px 0;
	padding: 7px 0;
	text-align: center;
	width: 446px;
}

@media print {
	.TabbedPanels {
		overflow: visible !important
	}
	.TabbedPanelsContentGroup {
		display: block !important;
		overflow: visible !important;
		height: auto !important
	}
	.TabbedPanelsContent,.TabbedPanelsTab {
		overflow: visible !important;
		display: block !important;
		clear: both !important
	}
}

.post_drobe_btn a {
	background: -moz-linear-gradient(center top , #FEFEFE, #DCDCDC) repeat scroll 0 0 #DCDCDC;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 38px;
    padding: 4px 8px 4px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 221px;
}

.post_drobe_btn a div {
	float: left;
    height: 35px;
    margin: 0 10px 0 5px;
    width: 35px;
}
.post_drobe_btn a:hover{
	background:  #CE2022;
	color: #FFFFFF;
}

.post_drobe_btn a #post_for_feedback{
	background: url('../images/post_for_feedback.png') top center;
}
.post_drobe_btn a #post_for_sell{
	background: url('../images/post_for_sell.png') top center;
}

.post_drobe_btn a:hover #post_for_feedback{
	background-position:  bottom center;
}

.post_drobe_btn a:hover #post_for_sell{
	background-position:  bottom center;
}


.sell_drobe_images{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    border-color: #666666 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    text-align: center;
}

.sell_drobe_images .image_box{
	 border: 2px dotted #AAAAAA;
    display: inline-block;
    height: 130px;
    margin: 5px 5px;
    overflow: hidden;
    position: relative;
    width: 130px;
}

.sell_drobe_images .image_box .image_preview:hover .remove{
	display : block;
}
.sell_drobe_images .image_box .image_preview .remove{
 	background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    left: 0;
    line-height: 15px;
    padding: 3px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 15px;
}

.sell_drobe_images .image_box .qq-uploader{
 	background: none repeat scroll 0 0 #EFEFEF;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.sell_drobe_images .image_box .qq-uploader{
	padding: 30% 5px;
}

.sell_drobe_images .image_box .qq-uploader:hover{
	background: none repeat scroll 0 0 #FFFFC4;
}

.sell_drobe_images .remove{
 background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    left: 0;
    line-height: 20px;
    padding: 3px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}

.drobe_box{
	  background-color: #FAFAFA;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 0 4px #AAAAAA;
    float: left;
    margin-bottom: 15px !important;
    opacity: 1;
    padding: 5px 10px 10px !important;
    width: 96%;
    text-align: justify;
    font-size: 12px;
}

.drobe_box p{
 	font-size: 14px;
    margin: 0;
    position: relative;
    top: 0px;
    word-wrap: break-word;	
}

.drobe_box form .btn{
	background: -moz-linear-gradient(center top , #FEFEFE, #DCDCDC) repeat scroll 0 0 #DCDCDC;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #333333;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
 	width: auto;
}
.drobe_box form input{
	background : #fff;
	border: 1px solid #AAAAAA;
    box-shadow: 0 0 3px 1px #CCCCCC;
    clear: both;
    color: #000000;
    font-size: 100%;
    padding: 5px;
    resize: none;
    width: 205px;
    display: inline;
}

#TabbedPanelsFilter.TabbedPanels
{
	width:435px;
}
#TabbedPanelsFilter .flexcroll
{
	height: 220px;
}

#avpw_controls{
	z-index: 16000 !important;
}