<?php
if(!$is_ajax)
{
	if($this->Session->read('Auth.User.id')>0)
	{
		echo $this->element('filter_category');
	} 
	else
	{
		echo $this->element('user_login_info');
	}
}
if($drobe)
{
	?>
	<div class="rate_response" id="rate_response" style="display:none">
	</div>
<div id="rate_drobe_block">
	<div id='inline_example1' style='padding:10px; background:#fff;'>
	<h3><?php  echo $drobe['Drobe']['comment']; ?></h3>
 	<div class="big-img drobe_big_img" >
 	<?php 
 	echo $this->Html->image('/drobe_images/'.$drobe['Drobe']['file_name'],array('width'=>Configure::read('drobe.width'),'border'=>0, 'id'=>"profile_image" ,"alt"=>"drobe prview Image"));
 	?>
 	</div>
    <div class="details">
    	<div class="imp">Views : <?php echo $drobe['Drobe']['views']?></div>
        <div class="imp">Cute : <?php echo $drobe['Drobe']['total_in'];?></div>
        <div class="imp">Hot : <?php echo $drobe['Drobe']['total_out'];?></div>
    </div>
    <div class="over">
    <?php 
    if(!$is_followed)
    {
    ?>
        <a href="javascript:void(0)" class="blue_btn" id="follow_button" style="margin-left:100px;"><div class="white_plus"></div><span class="btn_txt">Follow</span></a>
     <?php 
    }
    else
    {
     ?>
     <a href="javascript:void(0)" class="red_btn" id="follow_button" style="margin-left:100px;"><div class="white_minus"></div><span class="btn_txt">Unfollow</span></a>
     <?php 
    }
     ?>   
        <a href="javascript:void(0)" class="heart" id="fave_button"><span class="btn_txt"><?php  echo $drobe['Drobe']['favs']; ?></span></a>
       <div class="share" ><a href="javascript:void(0)" rel="shareit"><img src="images/share.png" border="0"></a>
            <div id="shareit-box">

 <div id="shareit-header"></div>
 <div id="shareit-body">
  <div id="shareit-blank"></div>
  <div id="shareit-icon">
  <ul>
   <li> <iframe src="https://www.facebook.com/plugins/like.php?href=YOUR_URL" scrolling="no" frameborder="0"
        style="border:none; width:50px; height:30px"></iframe></li>
   
   <li><a href="http://pinterest.com/USERNAME/"><img src="images/pinit.png" alt="Follow Me on Pinterest" border="0" /></a></li>
            
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" data-count="none"><img src="https://apmcommunity.compuware.com/community/download/attachments/25789254/tweetbutton.png" border="0" /></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
  </ul>
  </div>
 </div>
</div></div>
            
     </div>
     <?php 
     if(!$is_rated)
     {
     ?>
     <div class="more_margin">
        <div class="more_margin"><textarea cols="30" rows="3" id="drobe_comment"></textarea></div>
        <div class="more_margin"> <a href="javasript:void(0)" class="in ratebutton" id="drobe_rate_in" rel="1"></a></div>
        <div class="more_margin"><a href="javasript:void(0)" class="out ratebutton" id="drobe_rate_in" rel="-1"></a></div>
        <div class="more_margin"><a href="javasript:void(0)" class="whtever ratebutton" id="drobe_rate_in" rel="0"></a></div>
     </div>
     <?php 
     }
     else
     {
     	?>
     	<div class="spacer"></div>
     	<div class="more_margin your_rate full_width"> 
	     	<div class="msg">Already rated by you...</div>
	     	<div class="clear"></div>
	     	<a  class="<?php echo $rate_info['rate']=="0" ? "whtever" : $rate_info['rate']=="1" ? "in" : "out"; ?>"></a>
	     	<?php echo $rate_info['comment']=="" ? "<div class='no_comment'>Not Commented</div>" : "<div class='comment'>".$rate_info['comment']."</div>";?>
	     	<div class="rate_star"></div>
	     	<div id="next_drobe">Next</div>
     	</div>
     	
    	<?php 
     }
	
	?>
	<input type="hidden" id="drobe_id" value="<?php echo $drobe['Drobe']['unique_id']; ?>" />
	</div>
	</div>
	
<?php
}
else
{
?>
<div class="drobe_rate_empty">
<h1>Drobes not matched  as your criterea for Rate</h1>
</div>
<?php 
}
?>
<div class="clear"></div>
<script>
var is_colorbox=false;
var is_selected=<?php echo (isset($this->params->params['pass'][0]) && $this->params->params['pass'][0]!="")? "true": "false" ?>;
<?php if($this->Session->read('Auth.User.id')>0){?>
$.getScript("js/rate_drobe.js");
<?php 
}
else
{
?>
$.getScript("js/read_only.js");
<?php 
}
?>
</script>

