<?php 
$rated=($your_rate > 0) ? "Cute" : (($your_rate < 0) ? "Hot" : "Skip");
?>
<div class="current">
	<?php 
	if(isset($only_commented) && $only_commented==true)
	{
		echo "You Commented" ;
	}
	else
	{
		if($already_rated == true)
		{
			echo "Already rated by You" ;
		}
		else
		{
			if($rated=="Skip")
			{
				echo "You Skipped";
			}
			else
			{
				echo "You Voted ".$rated;
			}
		}
	}
		 
	?>
</div>
<div class="half left"><span class="in cute_given"></span> <?php echo $rate_in;?></div>
<div class="half right"><span class="out hot_given"></span> <?php echo $rate_out;?></div>
<div class="clear"></div>
