<div id="last_timeline">
<?php 
	if(count($drobes)>0)
	{
		foreach ($drobes as $drobe)
		{
			?>
			<div class="testi">
				<div class="line"></div>
				<div class="photo">
		    	<?php echo $this->Html->image('/drobe_images/thumb/'.$drobe['Drobe']['file_name'],array("border"=>0,"width"=>70,"height"=>70));?>
		    	</div>
		        <div class="testi-txt">
		        	<?php echo $drobe['Drobe']['comment'];?>
		        </div>
		    </div>
			<?php 
		}
	}
?>
</div>