/* 8.5 Portfolio */
#portfolio a.thumb { display: block; margin: 0px; margin-right: 30px; margin-bottom: 30px; }
#portfolio a.thumb:hover { text-decoration: none; background: url("images/portfolio-hover.png") no-repeat 50% 50%; }
#portfolio .block h2 { font-size:18px; margin-bottom:15px; }
.portfolio h2 { margin: 0 0 0.5em; }

#portfolio .group.portfolio-img a.thumb { margin-bottom: 1em; margin-right: 0px; height: auto; }
#portfolio .group.portfolio-img a.thumb:hover { background-position: 50% 45%; }
#portfolio .group.portfolio-img  { float: left; display: block; margin:0 10px 30px; }
#portfolio .group.portfolio-img img  { max-width: none; }
#portfolio .group.portfolio-img h3 { font-size: 14px; }

#portfolio #port-tags { margin: 0 10px 20px;padding: 0 0 20px;}
#portfolio #port-tags .port-cat { text-transform:uppercase; font-size: 12px; }
#portfolio #port-tags .port-cat a { padding: 2px 6px; margin: 0 0 0 5px; background: #fff; border: 1px solid #BFD4D9; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#portfolio #port-tags .port-cat a:hover,
#portfolio #port-tags .port-cat a.current { text-decoration:none; background:#eee; }

#portfolio .gallery-image { display: none; }

/* 8.5.1 Single Portfolio Item */
body.single-portfolio.one-col #post-gallery, body.single-portfolio.one-col .post-embed { float: left; margin-bottom: 20px; width: 100%; }

body.single-portfolio.two-col-left #post-gallery,
body.single-portfolio.two-col-right #post-gallery,
body.single-portfolio.two-col-middle #post-gallery,
body.single-portfolio.three-col-left #post-gallery,
body.single-portfolio.three-col-right #post-gallery,
body.single-portfolio.three-col-middle #post-gallery,
body.single-portfolio.two-col-left .post-embed,
body.single-portfolio.two-col-right .post-embed,
body.single-portfolio.two-col-middle .post-embed,
body.single-portfolio.three-col-left .post-embed,
body.single-portfolio.three-col-right .post-embed,
body.single-portfolio.three-col-middle .post-embed { float: none; margin-bottom: 20px; }

#post-gallery .slides_container .slide { margin-bottom: 1em; }
#post-gallery .slides_control .slide { display: none; } /* Prevents the gallery from displaying incorrectly on first load. */
#post-gallery .photo-caption { background: #EBEBEB; padding: 5px; display: block; margin-top: 0.4em; }
#post-gallery .photo-caption {
	filter: alpha(opacity=80); /* internet explorer */
	-khtml-opacity: 0.8;      /* khtml, old safari */
	-moz-opacity: 0.8;       /* mozilla, netscape */
	opacity: 0.8;           /* fx, safari, opera */
}
#post-gallery .pagination li { display: inline; padding-right: 10px; margin: 15px 4px 15px 0; }
#post-gallery .pagination .jcarousel-prev, #post-gallery .pagination .jcarousel-next { cursor: pointer; width: 7px; height: 10px; position: absolute; top: 45%; }
#post-gallery .pagination .jcarousel-prev { left: 10px; }
#post-gallery .pagination .jcarousel-next { right: 45px; }
#post-gallery .pagination .jcarousel-prev-disabled,
#post-gallery .pagination .jcarousel-next-disabled {
	filter: alpha(opacity=20); /* internet explorer */
	-khtml-opacity: 0.2;      /* khtml, old safari */
	-moz-opacity: 0.2;       /* mozilla, netscape */
	opacity: 0.2;           /* fx, safari, opera */
}

body.single-portfolio .hentry { float: right; width: 40%; }
body.single-portfolio.two-col-left .hentry,
body.single-portfolio.two-col-right .hentry,
body.single-portfolio.two-col-middle .hentry,
body.single-portfolio.three-col-left .hentry,
body.single-portfolio.three-col-right .hentry,
body.single-portfolio.three-col-middle .hentry { float: none; width: auto; }

/* 8.5.2 Portfolio Items In Archive Screens */

body.search .portfolio .portfolio-img { margin: 0 10px 10px 0; }

@media only screen and ( max-width: $desktop - 1 ) {

	/* Set single portfolio item from two to one column on mobile */
	body.single-portfolio.one-col-980 #post-gallery, body.single-portfolio.one-col-980 .post-embed { width: 100%; float: none; }
	body.single-portfolio .hentry { float: none; width: 100%; }

}

@media only screen and ( max-width: $desktop ) {

	/* Portfolio layout */
	body.single-portfolio.one-col #post-gallery, body.single-portfolio.one-col .post-embed { width: 57%; }
	body.single-portfolio.one-col-980 #post-gallery, body.single-portfolio.one-col-980 .post-embed { width: 57%; }
	body.single-portfolio.one-col-960 #post-gallery, body.single-portfolio.one-col-960 .post-embed { width: 57%; }
	body.single-portfolio.one-col-940 #post-gallery, body.single-portfolio.one-col-940 .post-embed { width: 55%; }
	body.single-portfolio.one-col-880 #post-gallery, body.single-portfolio.one-col-880 .post-embed { width: 55%; }
	body.single-portfolio.one-col-760 #post-gallery, body.single-portfolio.one-col-760 .post-embed { width: 45%; }

}