/*--[ Imports ]--------------------------------------------------------------------------------*/
@import '../../../../css/modules/all';

/*--[ General Styles ]--------------------------------------------------------------------------------*/

#navigation {
	/*.cart-contents {
			line-height: 0.7;
		&:before {
			.iconbefore;
			content: "\f07a";
		}
	}*/
	.cart {
		margin-right: 0;
		&.no-rss-link {
			margin-right: 0;
			li { border: 0; }
		}
	}
}

select, img {
	max-width: 100%;
}

.form-row {
	label {
		display: block;
	}

	.input-text, select {
		width:100%;
		*width:90%;
		@include box-sizing( border-box );
	}

	input[type=checkbox] {
		float: left;
	}

	&.woocommerce-validated {
		.input-text, .chzn-single {
			border-color:#080;
		}
	}
	&.woocommerce-invalid {
		.input-text, .chzn-single {
			border-color:#c00;
		}
	}
}

.page header.title {
	overflow: hidden;
	zoom:1;
	font-size:1em;

	h1, h2, h3, h4, h5 {
		float: left;
	}

	a.edit {
		float: right;
		font-size:12px !important;
		text-transform: uppercase;
	}
}

p.demo_store {
	position: fixed;
	top:0;
	left: 0;
	right:0;
	text-align: center;
	padding: 1em 0;
	background: #ebdd75;
	color: #827513;
	z-index: 999999;
}

form#searchform {
	background: none;
	border-width: 0;
	input#s { border-color: #CCCCCC #EFEFEF #EFEFEF #CCCCCC; border-width: 1px; border-style: solid; width: 60%; color: #777; }
	.screen-reader-text { display: none; }
}

/*--[ Product Categories ]--------------------------------------------------------------------------------*/

ul.products {
	margin:0 0 1.5em 0;
	padding:0 !important;
	list-style: none;
	@include clearfix;

	li.product {
		float:left;
		text-align: center;
		margin-bottom:1.5em;
		position: relative;
		list-style: none;
		width:48%;
		float: left;
		clear: left;

		&:nth-child(2n) {
			float: right;
			clear: none;
		}

		img {
			background: none;
			padding:0;
			border:0;
		}


		a {
			display: block;
			&:hover {
				text-decoration: none;
				h3 { opacity: 0.9; }

			}

			img {
				width:100%;
				height: auto;
				display: block;
				margin-bottom:.75em;
				&:hover { opacity: 0.9; }
			}
			h3 {
			}
		}

		.price {
			display: block;
			color: #666;
		}

		a.button {
			display: inline-block;
			margin-top:.5em;
			@include transition;
			position: relative;

			&.loading {
				&:after {
					@include iconafter( "\f021" );
					-moz-animation:spin 2s infinite linear;
					-o-animation:spin 2s infinite linear;
					-webkit-animation:spin 2s infinite linear;
					animation:spin 2s infinite linear;
				}
			}

			&.added {
				&:after {
					@include iconafter( "\f00c" );
				}
			}
		}

		.added_to_cart  {
			text-transform: uppercase;
			margin: .53em 0 0;
			font-size: .7em;
			font-weight: 600;
			display: block;
		}

		.star-rating {
			float: none;
			margin:.5em auto;
			&:hover {

			}
		}

		del {
			@include opacity( .5 );
		}

		ins {
			text-decoration: none;
		}
	}
}

/*--[ Sale sticker ]--------------------------------------------------------------------------------*/

.onsale {
	padding:3px 8px;
	text-align: center;
	background: #C63F00;
	border-radius: 40px;
	color: white;
	font-weight: bold;
	position: absolute;
	top:6px;
	left:6px;
}

/*--[ Breadcrumb ]--------------------------------------------------------------------------------*/

.breadcrumb {
	padding:0 0 1em 0;
	margin-bottom:3em;
	border-bottom:1px dotted rgba(0,0,0,0.1);

	.breadcrumb-title {
		font-weight: bold;
	}
}

/*--[ Single Product ]--------------------------------------------------------------------------------*/

.woocommerce {
	.images {
		margin-bottom:1.5em;
		img {
			width: 100%;
			height: auto;
		}

		a {
			display: block;
			margin-bottom:.5em;
		}

		.thumbnails {
			overflow: hidden;
			zoom:1;

			a {
				float: left;
				width:30.75%;
				margin-right:3.8%;

				.last {
					margin-right:0;
				}

				.first {
					clear: left;
				}
			}
		}
	}

	.summary {
		margin-bottom:1.5em;
		h1.product_title  {
			margin-bottom: 1em;
		}
		form {
			padding: 1.5em 0.8em;
			margin-bottom:1.5em;
			border:1px solid rgba(0,0,0,0.1);
			border-left:0;
			border-right:0;
		}

		p {
			margin-bottom:1.5em;
		}

		p.price {
			font-weight: bold;
			font-size: 1.6em;
			border:none;
			padding:0;
			margin-bottom:.8em;

			del {
				@include opacity( 0.5 );
			}

			ins {
				text-decoration: none;
				padding-left:.5em;
			}
		}

		table.variations {
			width: 100%;
			border:1px solid rgba(0,0,0,0.1);
			margin-bottom: 1em;

			tr {
				td {
					border:0;
  					padding: 0.857em 1.387em;
					border-right: 1px dotted rgba(0,0,0,0.1);
				    text-align: left;
				    vertical-align: top;
				}
			}
		}

		table.group_table {
			.out-of-stock {
				display: block;
				color:#900;
			}
		}

		.quantity {
		  float: left;
		  margin: 0 1em 0 0;
		}
		a.reset_variations {
			display: block;
			&:before {
				@include iconbefore( "\f021" );
			}
		}
	}

	table {
		&.shop_attributes {
			th, td {
				padding:.5em 1em;
				vertical-align: middle;

				p:last-child {
					margin-bottom:0 !important;
				}
			}
		}
	}

	.woocommerce_tabs, .woocommerce-tabs {
		clear: both;
		border-top:1px solid rgba(0,0,0,.1);
		margin-bottom:3em;

		ul.tabs {
			overflow: hidden;
			zoom:1;
			list-style: none;

			li {
				float: left;

				a {
					display: inline-block;
					padding:.5em 1em;
					border-top: 2px solid rgba(255,255,255,.1);
				}
			}

			li.active {
				a {
					border-top:2px solid;
				}
			}
		}

		p {
			margin-bottom:1.5em;
		}

		#comments {
			border: 0;
			margin:0;
			padding:0;
		}
		.panel {
			padding: 1em 0 0;
			h2 { margin-bottom:.7em; }
		}
	}

	.product_meta {
		padding:.5em 0;
		margin-bottom:1.5em;
	}

	.social {
		text-align: right;

		iframe {
			float: left;
		}
	}

	#main {

		div.product {
			position: relative;
		}

		.onsale {
			top:6px;
			left:6px;
		}
	}

	#tab-description {
		ol, ul {
			margin: 0 0 15px 0;
			padding: 0 0 0 30px;
		}
		ol {
			li {
				list-style: decimal;
				list-style-type: decimal;
			}
		}
		ul {
			li {
				list-style: disc;
				list-style-type: disc;
			}
		}
	}

	.related, .upsells {
		clear:both;
	}
	.related h2, .upsells h2 { margin-bottom: 1em; }

}



/*--[ Reviews ]--------------------------------------------------------------------------------*/

#reviews {
	h2 {
		margin-bottom:.75em;
	}

	.commentlist {
		margin-bottom:20px;
		li {
			background: none !important;
			@include clearfix;
			padding-bottom: 1.618em;
		}
	}

	.comment.bypostauthor {
		background: none;
		border:0;
	}

	.comment.thread-even {
		border: 0;
		background: none;
	}

	.comment_container {
		padding:20px 0;
	}

	.comment {
		border-bottom:1px solid rgba(0,0,0,0.1) !important;
	}

	img.avatar {
		width: 3.85%;
		padding:.5%;
		background: #fff;
		@include box_shadow( 0, 1px, 2px, 0, rgba(0,0,0,0.2) );
		height: auto;
		float: left;
	}

	.comment-text {
		width: 91.35%;
		float: right;
		*width:86%;
		*margin-right:30px;

		p:last-child {
			margin-bottom:0;
		}
	}
	.star-rating {
		float: right;
	}
}

#fancybox-outer {
	padding:20px;

	#respond {
		margin-top:0;
	}
}

/*--[ Messages and Alerts ]--------------------------------------------------------------------------------*/

.woocommerce_message, .woocommerce_info, .woocommerce_error, .woocommerce-message, .woocommerce-info, .woocommerce-error {
	@include clearfix;
	padding:1em 1em 1em 2.618em !important;
	border:1px solid #f0f0f0;
	position: relative;
	margin-bottom:1.618em !important;
	border-radius: .327em;
	color: rgba(0,0,0,.6);
	&:before {
		@include iconbefore;
		position: absolute;
		top:1.387em;
		left:1em;
	}
	.button {
		float: right;
		font-size:.857em;
		margin-left:1em;
	}
}
.woocommerce_message, .woocommerce-message {
	background-color: #edfcd5;
	&:before {
		content: "\f05d";
		color: rgba(0,0,0,.4);
	}
}
.woocommerce_info, .woocommerce-info {
	background-color: #eee;
	&:before {
		content: "\f05a";
		color: rgba(0,0,0,.4);
	}
}
.woocommerce_error, .woocommerce-error {
	background-color: #ffd9c8;
	&:before {
		content: "\f05c";
		color: rgba(0,0,0,.4);
	}
}

.entry ul.woocommerce-error, .entry ul.woocommerce_error{
	background-color: #ffd9c8;
	margin-left:0 !important;
	list-style: none;
}
.entry ul.woocommerce-error li, .entry ul.woocommerce_error li {
	list-style: none;
}

.stock.out-of-stock, .stock.in-stock  {
	&:before {
		@include iconbefore;
	}
}
.stock.out-of-stock {
	&:before {
		content: "\f05c";
		color: rgba(0,0,0,.4);
	}
}
.stock.in-stock {
	&:before {
		content: "\f05d";
		color: rgba(0,0,0,.4);
	}
}


/*--[ Widgets ]--------------------------------------------------------------------------------*/

.widget {
	ul.product_list_widget {
		list-style: none;
		padding:0;

		li {
			clear: left;
			overflow: hidden;
			zoom:1;
			margin-bottom:.5em;

			a {
				display: block;
				padding-left:0;
			}

			img {
				float: right;
				margin:0 0 .5em .5em;
				padding:3px;
				background: #fff;
				border-radius: 3px;
				width:32px;
				height: auto;
				border:1px solid #e6e6e6 !important;
			}

			dl.variation {
				overflow: hidden;
				zoom:1;

				dt {
					font-weight: bold;
					float: left;
					clear: left;
					margin-right: .3em;
				}

				dd {
					float: left;
				}
			}

			.star-rating {
				float: none;
				margin-bottom:.25em;
			}
		}
	}
}

.widget_price_filter {

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border: 1px solid #d3d3d3;
		background: #e6e6e6;
		font-weight: normal;
		color: #555555;
	}

   .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
		border: 1px solid #999999;
		background: #dadada;
		font-weight: normal;
		color: #212121;
}

   .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		border: 1px solid #aaaaaa;
		background: #ffffff;
		font-weight: normal;
		color: #212121;
	}

   .ui-corner-all {
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

   .ui-slider {
		position: relative;
		text-align: left;
	}

   .ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1.2em;
		height: 1.2em;
		cursor: default;
	}

   .ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
	}

   .price_slider_wrapper .ui-widget-content {
		border: 1px solid #aaaaaa;
		background: #ffffff;
		color: #222222;
	}

   .price_slider_wrapper .ui-widget-header {
		border: 1px solid #aaaaaa;
		background: #cccccc;
		color: #222222;
		font-weight: bold;
	}

   .ui-slider-horizontal {
		height: .8em;
	}

   .ui-slider-horizontal .ui-slider-handle {
		top: -.3em;
		margin-left: -.6em;
	}

   .ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

   .ui-slider-horizontal .ui-slider-range-min {
		left: 0;
	}

   .ui-slider-horizontal .ui-slider-range-max {
		right: 0;
	}

	.price_slider {
		border: 0 !important;
		background: rgba(0,0,0,0.1) !important;
		border-radius: 10px;
		margin:0 12px 1.5em;
	}

	.ui-widget-header {
		border:0 !important;
		background: rgba(0,0,0,0.1) !important;
	}

	.ui-slider-handle {
		border-radius: 20px;
		background: #fff !important;
		border:1px solid rgba(0,0,0,0.2) !important;
		cursor: pointer;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.5em;

		.button {
			float: left;
		}
	}
}

.widget_layered_nav {
	ul {
		list-style: none;
		margin-left:0;
		padding-left:0;

		li {
			overflow: hidden;
			zoom:1;

			a {
				float: left;
				padding-left:0;
			}

			.count {
				float: right;
				line-height: 22px;
				background: rgba(0,0,0,0.025);
				padding:0 8px;
				border-radius: 10px;
				font-weight: bold;
			}
		}

		li.chosen {
			a {
				padding-left: 18px;
				background:url(../images/icons/cross.png) left no-repeat;
			}
		}
	}
}

/*--[ Quantity incrementer ]--------------------------------------------------------------------------------*/

.quantity {
	@include clearfix;
	position: relative;
	/* Disable input[type=number] buttons until the world is ready */
	input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
		display:none;
	}
	.plus, .minus, .qty  {
		float: left;
		margin: 0 .53em 0 0;
	}
	.qty {
		@include box-sizing( border-box );
		margin-bottom: .53em;
		width: 2.8em;
		text-align: center;
		line-height: 1;
	}
	.plus, .minus {
		position: relative;
		top: .618em;
		width: 16px;
		height: 16px;
		padding: 0;
		text-align: center;
		background: $color_links;
		border:0;
		color:#fff;
		line-height: 0;
		border-radius: 300px;
		cursor:pointer;
		font-size: 12px;
	}
	.plus {
	}
	.minus {

	}
}

/*--[ Buttons ]-------------------------------------------------------------------------------------*/

.button-alt {
	font-family:Verdana, Geneva, Arial, sans-serif;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff !important;
	text-decoration: none;
	border:none;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	@include linear-gradient( #e4954a, #da7b21 );
	border:1px solid #da7b21;
	font-size:12px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	line-height: 1.1em;

	&:hover {
		@include linear-gradient( #ebaf76, #da7b21 );
		text-decoration: none;
	}
}
.button-alt:active { top: 1px; }

/*--[ Star ratings ]--------------------------------------------------------------------------------*/

.star-rating {
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1em;
	font-size: 1em;
	width: 4.7em;
	font-family: "fontawesome";
	&:before {
		content: "\f006\f006\f006\f006\f006";
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}
	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}
	span:before {
		content: "\f005\f005\f005\f005\f005";
		top: 0;
		position: absolute;
		left: 0;
	}
}

/* Sidebar / footer stars */

.widget .star-rating {
	font-size:.8em;
}

.comment-form-rating {
	clear: both;
}
p.stars {
	position: relative;
	line-height: 1em;
	font-size: 1em;
	@include clearfix;

	a {
		width: 19%;
		display: block;
		position: relative;
		float: left;
		@include box-sizing( border-box );
		padding:.5em .5em .5em .75em;
		background:rgba(0,0,0,0.025);
		margin-right:1%;
		border-radius: 4px;
		font-weight: bold;
		&:hover, &.active {
			background: rgba(0,0,0,0.075);
		}

		&.star-1, &.star-2, &.star-3, &.star-4, &.star-5 {
			&:after {
				font-family: "FontAwesome";
				content: "\f005";
				position: absolute;
				top:.85em;
				width:5.3em;
				right:1em;
				font-size:.5em;
				border-radius: 1em;
				color: #999;
				text-align: right;
				font-weight: normal;
			}
			&:hover {
				text-decoration: none;
			}
		}
		&.star-1:after {
			content: "\f005";
		}
		&.star-2:after {
			content: "\f005\f005";
		}
		&.star-3:after {
			content: "\f005\f005\f005";
		}
		&.star-4:after {
			content: "\f005\f005\f005\f005";
		}
		&.star-5:after {
			content: "\f005\f005\f005\f005\f005";
		}
	}
}

/**
 * Cart
 */

table.cart {
	.product-thumbnail, .product-price {
		display: none;
	}
	.actions {
		text-align: right;

		.coupon {
			float: left;
		}
	}
	a.remove {
		color: #fff;
		font-weight: bold;
		background: #c00;
		display: inline-block;
		height:1.1em;
		width:1.1em;
		line-height: .75;
		text-align: center;
		border-radius: 100%;
		&:hover {
			text-decoration:none;
			background: #f00;
		}
	}
	td {
		vertical-align: middle;
	}
	img {
		padding:3px !important;
		border-radius: 3px;
	}
	.quantity {
		margin:0;
		input {
			margin-bottom:0;
		}
	}
}

table.my_account_orders {
	font-size:0.8751em;
}

.cart_totals {
	select {
		width:100%;
	}
}

/*--[ The cart ]--------------------------------------------------------------------------------*/

table.cart {
	img {
		width:32px;
		height: auto;
	}
	td.actions {


		.coupon {
			text-align: left;
			margin-bottom:0;

			label {
				display: none;
			}
			#shareyourcart_button {
				float: left;
			}
		}

		.button, .checkout-button, .input-text {
			width:100%;
			display: block;
			@include box-sizing( border-box );
			margin-bottom:.5em !important;
			text-align: center;
		}

		.checkout-button {
			margin-bottom:0 !important;
		}
	}
}

.cart-collaterals {
	overflow: hidden;
	zoom:1;

	.shipping_calculator {
			clear: right;
	    h2  {
	    	font-size: 1.387em;
	    	a  {
	    		display: block;
	    		&:before  {
	    			@include iconbefore;
	    			content: "\f0ac";
	    		}
	    		&:hover  {
	    			text-decoration: none;
	    		}
	    	}
	    }
	}

	#shipping_method {
		padding:0 !important;
		list-style: none !important;
		li {
			list-style: none !important;
		}
	}

	.cross-sells {
		float: left;

		ul.products {
			margin-left:0 !important;
			padding-left:0 !important;
			li {
				width: 48%;
			}
		}
	}
}

/*--[ Product Ordering ]--------------------------------------------------------------------------------*/

.woocommerce_result_count,
.woocommerce_ordering,
.woocommerce-result-count,
.woocomerce-ordering {
	width:50%;
	float: left;
	margin-bottom:1.618em;
}
.woocommerce_ordering,
.woocommerce-ordering {
	text-align: right;
}

/*--[ The Checkout ]--------------------------------------------------------------------------------*/

#shiptobilling {
	float: right;

	input {
		float: left;
	}
}

.create-account {
	float: left;
}

.payment_methods {
	margin:0 0 1.5em 0 !important;
	padding:0 !important;
	list-style: none !important;

	li {
		list-style: none !important;
		border-bottom:1px solid rgba(0,0,0,0.05);
		padding:.5em 0;

		img {
			float: right;
			padding: 0 !important;
			border:none !important;
		}
	}
}

.payment_box {
	fieldset {
		margin-bottom:0;
	}

	.form-row {
		.woocommerce-select {
			width:30.75%; float: left; margin-right:3.8%;
		}
	}
}


.payment_methods + .form-row {
	width:100%;

	#place_order {
		float: right;
	}

	label {
		display: inline;
	}

	input {
		float: left;
	}
}

.required {
	color:#c00;
	border:0;
}

/*--[ User Account ]--------------------------------------------------------------------------------*/

ul.order_details {
	@include clearfix;
	list-style: none;
	border:1px solid #ddd;
	position: relative;
	border-radius: .327em;
	list-style: none !important;
	padding:0 !important;
	li {
		float: left;
		padding:1em 1.618em;
		border-right:1px solid #ddd;
		font-size:.8em;
		text-transform: uppercase;
		list-style: none !important;
		strong {
			display: block;
			font-size:1.387em;
			text-transform: none;
		}
	}
}

.woocommerce-account {
	.addresses {
		address {
			clear: both;
		}
	}
}

@media only screen and ( max-width: $desktop - 1 ) {

	// Make cart fit responsive layout
	table.cart .product-thumbnail, table.cart .product-price, table.cart .product-quantity {
	  left: -999em;
	  position: absolute;
	}

}

/* Desktop Styles */
@media only screen and ( min-width: $desktop ) {
	.col2-set {
		@include clearfix;
		clear: both;

		.col-1 {
			width:49%;
			float: left;
		}

		.col-2 {
			width:49%;
			float: right;
		}
	}

	.form-row {
		width:49%;
		float: left;

		label {
			display: block;
		}

		.input-text, select {
			width:100%;
			*width:90%;
			@include box-sizing( border-box );
		}

		input[type=checkbox] {
			float: left;
		}

		&.notes {
			width:100%;

			textarea {
				width:100%;
				*width:90%;
			}
		}
	}

	.form-row-first {
		clear: left;
	}

	.form-row-last {
		float: right;
	}

	.form-row-wide {
		float: left;
		width:100%;
		clear: both;
	}

	.cart-collaterals {

		.cart_totals, .shipping_calculator, .cross-sells {
			width:48%;
			float: right;
		}
		.cross-sells {
			float: left;
		}

	}

	.woocommerce.one-col {
		.related, .upsells {
			width:100%;
		}

		.related {
			float: left;
		}

		.upsells {
			float: right;

			ul {
				float: left;
				width:100%;
			}
		}
	}

	.woocommerce {
		.images {
			width:48%;
			margin-right:3.8%;
			float: left;
		}

		.summary {
			width:48%;
			float: right;
			margin-bottom:1.5em;
		}
	}

	ul.products {
		li.product {
			clear: none;
			width:22%;
			margin-right:3.8%;

			&:nth-child(2n) {
				float: left;
			}

			&.first {
				clear: left;
			}

			&.last {
				margin-right:0;
			}
		}
	}

	table.cart {
		.product-remove, .product-thumbnail, .product-price {
			display: table-cell;
		}
		td.actions {
			text-align: right;

			.coupon {
				width:50%;
				float: left;
			}

			.input-text, .button, .checkout-button {
				width:auto;
				display: inline-block;
				margin-bottom:0 !important;
			}
		}
	}
}