<?php 
foreach($chattings as $chat)
{
	$is_me= $chat['Chatting']['poster']==$me['id'];
	
	$link=array('controller'=>"users",'action'=>"profile");
	if(!$is_me){
		$user=$friend;
		$link[]=$friend['unique_id'];
	}
	else
	{
		$user=$me;
	}
	if($user['photo']!="") {
		$image= $this->Html->image('/'.str_replace(DS,"/",Configure::read('profile.thumb.upload_dir'))."/".$user['photo'],array('border'=>0,'height'=>30,'width'=>30));
	}
	else
	{
		$image= $this->Html->image('/images/default.jpg',array('border'=>0, 'height'=>30,'width'=>30));
	}
	
	?>
	<div class="chat_main">
	<div class="time <?php if($is_me) echo "chat_right"?>"><?php echo $this->Time->timeAgoInWords($chat['Chatting']['created_on']); if($is_me) echo " ago"?></div>
	<div class="clear"></div>
	<?php 
	if($is_me)
	{
	?>
	<div class="chat_icon"><?php echo $this->Html->link($image,$link,array('escape'=>false));?></div>
	<div class="chat_txt">
	<?php echo $chat['Chatting']['message']; ?>
	</div>
	<?php 
	}
	else
	{
	?>
	<div class="chat_txt1">
	<?php echo $chat['Chatting']['message']; ?>
	</div>
	<div class="chat_icon"><?php echo $this->Html->link($image,$link,array('escape'=>false));?></div>
	<?php 	
	}
	?>
	</div>
	<div class="spacer"></div>
	<?php 
}
?>