<html>
<head>
<script type="text/javascript">
var url = window.opener.location.href;
// Check for request come from mydrobe then page do not refresh.
if (url.indexOf("mydrobe") >= 0)
{	
	<?php 
	 if(!$is_error)
	 {
	?>
		window.opener.togglesharebutton("<?php echo $this->params->action;?>");
	<?php 
	}
	?>
}
else
{
	window.opener.location.href=window.opener.location.href;
}
window.close();
</script>
</head>
<body>
</body>
</html>