<h1>Account Activation</h1>
<?php 
if(isset($activation_sent) && $activation_sent)
{
	?>
	<p>
Account activation key sent successfully on your email id, please activate your account by link provide on email
</p>		
	
	<?php
}
else
{
	?>
	<p>Oops error occured in sent email for activation key please try again by click <?php echo $this->Html->link('here',array("controller"=>'users','action'=>'reactivate',$unique_id)); ?> 
		
	<?php
}
?>