<?php 
echo "<option value=''>Select State/Province</option>";
foreach($provinces as $province)
{
	if($province['status']=="active")
	{
		echo "<option value='".$province['short_name']."'>".$province['province_name']."</option>";
	}
}
?>